[2016-01-11 18:01] ejsmith commented on #99
Metrics are already included with Foundatio, I think we can close this, right @niemyjski?

[2016-01-11 18:03] #154 closed

[2016-01-11 18:03] ejsmith commented on #167
@fagnercarvalho were you able to get this working?

[2016-01-11 22:14] ejsmith opened #173 "Add custom property rendering types"
Allow users to add custom properties that can be rendered in different ways.
- Reference Id - would link to events with the reference id being the value of the property
- Link - would render as a link with the href being the value of the property
- Markdown - would render the property as markdown content

We would use a naming convention in the property names to control this. So the property name

[2016-01-12 16:40] #99 closed

[2016-01-12 17:06] niemyjski commented on #167
Please reopen this issue if you were not able to get this working. I'd be more than happy to help you via a remote meeting.

[2016-01-12 17:06] #167 closed

[2016-01-12 17:21] niemyjski commented on #150
How has this been working out for you?

[2016-01-12 17:21] #150 closed

[2016-01-12 17:22] niemyjski commented on #150
Would you mind updating the setting up elastic wiki with your findings

[2016-01-12 17:23] niemyjski commented on #156
https://github.com/exceptionless/Exceptionless/issues/112

[2016-01-12 17:24] niemyjski commented on #156
I think we could implement the version:latest functionality and send down the latest version down to the client in a header. Then we could get really smart and even allow you to turn off old clients. I know in one of our products we can get hammered with older errors that are no longer relevant.

[2016-01-12 17:25] niemyjski commented on #135
Closing this as a duplicate of https://github.com/exceptionless/Exceptionless.UI/issues/56 , We will be improving this in the next release.

[2016-01-12 17:25] #135 closed

[2016-01-12 17:26] niemyjski commented on #125
@ejsmith I think our new changes allow for all of this except for caching paged results.

[2016-01-12 17:27] niemyjski commented on #147
@theit8514 would you mind submitting a pull request for this.

[2016-01-12 17:29] niemyjski commented on #117
I'm closing as a duplicate to this: https://github.com/exceptionless/Exceptionless/issues/152

[2016-01-12 17:29] #117 closed

[2016-01-12 17:30] niemyjski commented on #152
"It would be great to restrict access to specific projects by user in an organization. We have different teams and the global access to all projects is not ideal for security reasons.

I'd see it that you would have users at the organization scope to then select which projects in that organization the user has access to." @meharhay

[2016-01-12 17:30] #125 closed

[2016-01-12 17:32] niemyjski commented on #101
I'm going to close this as a known issue. I've sent out another update on that swashbuckle issue and will update to it when a fix is available.

[2016-01-12 17:32] #101 closed

[2016-01-12 17:33] niemyjski commented on #152
@JamieRushton commented on Jul 10, 2015
Being able to share an exception with somebody outside of my organisation who may not have access to our Exceptionless account - I found a scenario today where a share option would have been awesome!

In an ideal world you'd forward a URL over to the user and have be able to look over the exception in all it's glorious icky detail (maybe even make comments?)

[2016-01-12 17:34] niemyjski commented on #118
Merged into https://github.com/exceptionless/Exceptionless/issues/152

[2016-01-12 17:34] #118 closed

[2016-01-12 17:35] niemyjski commented on #83
@kellyelton would you mind submitting a pull request for this.

[2016-01-12 17:36] niemyjski commented on #61
@CyberSinh Would you mind submitting a pull request for this?

[2016-01-12 17:37] niemyjski commented on #64
@Nonobis @luisrudge Would you mind looking into this further and see if they fixed the mono issues?

[2016-01-12 17:38] niemyjski commented on #43
@badgerdigital Would you mind providing a description of these four paths.

[2016-01-12 17:39] niemyjski commented on #21
@bsimser would you mind submitting an updated pull request for this.

[2016-01-12 17:41] niemyjski commented on #112
@stephenwelsh commented on Nov 17, 2015
In our scenario we have 1000+ clients that install our product (typically a desktop app) and although we have an in-place upgrade capability, it's optional and user driven. Therefore after a while we have a situation with a number of old installations with issues that have been resolved submitting irrelevant exception reports.
Essentially it is out of our co

[2016-01-12 17:41] niemyjski commented on #112
I think we could implement the version:latest functionality and send down the latest version down to the client in a header. Then we could get really smart and even allow you to turn off old clients. I know in one of our products we can get hammered with older errors that are no longer relevant.

[2016-01-12 17:41] niemyjski commented on #156
Merged into https://github.com/exceptionless/Exceptionless/issues/112

[2016-01-12 17:42] #156 closed

[2016-01-12 17:43] niemyjski commented on #170
I'm closing this issue as this is possible right now via calling SetProperty on the EventBuilder. We are also currently looking into formatting/syntax highlighting of extended data

https://github.com/exceptionless/Exceptionless/issues/173

[2016-01-12 17:43] #170 closed

[2016-01-12 17:45] niemyjski commented on #164
Moved to elastic search 2.0 support https://github.com/exceptionless/Exceptionless/issues/145

[2016-01-12 17:45] #164 closed

[2016-01-12 17:46] niemyjski commented on #136
@kaiukdevelopment would you mind submitting a pull request for this?

[2016-01-12 17:46] matteomigliore commented on #170
Great. Thank you Blake!

[2016-01-12 17:47] niemyjski commented on #98
@ejsmith how do you feel about this?

[2016-01-12 17:48] niemyjski commented on #89
@adamzolotarev @KasperLK do you think zapier integration is a workable solution? Were you able to create a webhook that did this? Would you mind sharing this code?

[2016-01-12 17:50] niemyjski commented on #69
@KasperLK commented on Apr 9, 2015
Time when the daily project summary should be send
Quiet hours
Quiet days (weekend)
It should also be possible to configure the above on organization level, with option to overwrite on selected projects.

Option to get a daily summary on organization level instead for one mail per project.

[2016-01-12 17:50] niemyjski commented on #92
Merging into https://github.com/exceptionless/Exceptionless/issues/69

[2016-01-12 17:50] #92 closed

[2016-01-12 17:51] ejsmith commented on #98
I think it would be nice, but it could also really clutter up the UI if there are a lot of tags. Also, if there is an unknown number of tags we would have to show them on the right side so that we don't end up with a jagged list of events on the left side.

[2016-01-12 17:51] niemyjski commented on #66
I'm closing this as we plan to port to coreclr in the near future (when our dependencies have been updated).

[2016-01-12 17:51] #66 closed

[2016-01-12 17:54] niemyjski commented on #75
@PhilipDn were you able to get this working as expected? I'm closing this issue as the preferred way to log is not through a TraceLogLimit. With this said were you able to create a trace log listener that submitted new log messages? If so would you mind creating a new issue with the source / pr. I think it might be useful to include that in the extra's project.

[2016-01-12 17:54] #75 closed

[2016-01-12 17:54] niemyjski commented on #60
@ZeroX66 Would you mind submitting a pull request for a PHP Client?

[2016-01-12 17:55] niemyjski commented on #54
@ocbaker Would you mind submitting a pull request for this change

[2016-01-12 17:57] niemyjski commented on #37
@matteomigliore do you have any updates on this?

[2016-01-12 17:58] matteomigliore commented on #37
No I'm sorry, I used a workaround. A wrapper that always execute in a try/catch the action.

[2016-01-12 18:20] niemyjski commented on #37
I'm going to close this as I don't think there is a way to handle this unless you wrap it yourself.

[2016-01-12 18:20] #37 closed

[2016-01-12 18:21] niemyjski commented on #38
@fbm-static were you able to get this working?

[2016-01-12 18:22] niemyjski commented on #60
I'm going to close this in the meantime until a pull request or code is submitted to us for this.

[2016-01-12 18:22] #60 closed

[2016-01-12 18:23] niemyjski commented on #46
@luisvsilva how has this been working out for you? Have you had any issues with this and handling large  amounts of post data.

[2016-01-12 18:25] niemyjski commented on #45
@vindberg @srijken would you mind submitting a pull request for this. Also do you think we should add this to the documentation for web api?

[2016-01-12 18:30] niemyjski commented on #86
I'm closing this as we will process events based on the order they are received as well as there timestamp.

[2016-01-12 18:30] #86 closed

[2016-01-12 18:45] kellyelton commented on #83
It looks pretty straight forward I probably could. Would probably just need to add an AppConfig setting and then add a check in the AuthController. I'll see if I can find some time.

[2016-01-12 19:13] niemyjski commented on #83
Sounds good, you'd want to take a look at our Settings class in core. It's pretty straight forward across the board.

[2016-01-12 20:19] ZeroX66 commented on #60
But I don’t have any client for that? Why you don’t request it ?

From: Blake Niemyjski [mailto:notifications@github.com]
Sent: den 12 januari 2016 18:55
To: exceptionless/Exceptionless <Exceptionless@noreply.github.com>
Cc: ZeroX66 <micke@tankbar.com>
Subject: Re: [Exceptionless] PHP client (#60)

@ZeroX66 <https://github.com/ZeroX66>  Would you mind submitting a pull request for a PHP Client?

—

[2016-01-12 21:56] niemyjski commented on #166
# NET Client

Seems that we would want the ability to send a heartbeat only on wpf and winform clients. We may even want to specify a default session id that is used by default on these clients (would use this session id even when the user is set and only changed when the user is changed), There are two scenarios of which we would want to send heat beats:

1. User specified a sessionid
2. Set the

[2016-01-12 22:10] kellyelton commented on #83
Alright I'll do that.

[2016-01-12 22:20] niemyjski commented on #43
I'm closing this unless others ask for it or the community feels it adds value overall. I think those fields only pertain to url rewriting?? Here is how you can do this today:

[code]

Then register it on startup like this:

[code]

[2016-01-12 22:20] #43 closed

[2016-01-13 22:15] luisvsilva commented on #46
This has been working great. This is the complete code of the ExceptionFilter:

[code]

[2016-01-14 16:12] niemyjski commented on #46
Thank you for posting this!

[2016-01-14 20:40] niemyjski commented on #112
We just talked about this some more and will be updating this issue with specifics but we want to do some kind of sampling per project by sending down a header to the clients.

[2016-01-14 20:51] ejsmith commented on #112
Current thoughts are this.

1. Add support for an EventRate header that gets returned from the event post API. This would tell the client to limit it's events to X per minute. The client would then use sampling to get a disperse set of events while trying to keep it's rate to what it has been told.
2. Project will have a setting to control what percent of events the project should take up of the o

[2016-01-14 21:11] stephenwelsh commented on #112
That looks good and general for limiting over-rate submissions, some thoughts:

* It should be disabled by default at the server side
* A strong warning should be included in the server project to explain valid submissions may be suppressed
* Ideally the event rate should be more granular than just the total for the project, if the rate was lowest for the server side evens with the high-test submi

[2016-01-15 20:34] niemyjski commented on #166
New concept for linking together events..

Let's assume I have a session start… it has a single reference id… I have a page view event… it has a single reference id...

Now I have an event that happened inside of the page view and it sets 2 extended properties… 1 that points to the page view event and 1 that points to the session event. From the client I just call SetEventReference(“session”, sess

[2016-01-17 17:30] adamzolotarev commented on #89
I just used a webhook and wrote my own code to connect to tfs server, create a work item, and then post that tfs work item url link back to Exceptionless.

So, you could use a web api to accept a post from Exceptionless on new stack created; create tfs work item, and post it back. Here's a template:

[code]

[2016-01-17 17:44] adamzolotarev commented on #150
Working fine. I'll add it to wiki.

[2016-01-17 17:50] megakid commented on #167
I would be interested in reopening this as I too am getting the exact same symptoms on my self-hosted version.

As noted, I can create my own user account but then if I log out and back in again, it won't work and I will have to recreate the user account.

Once on the dashboard (after creating a new user) I can create the same project over and over.

I can see no errors in my Chrome dev tools.

I

[2016-01-18 14:41] niemyjski commented on #89
Thanks for that

[2016-01-18 14:41] niemyjski commented on #150
Thanks!

[2016-01-18 14:42] niemyjski commented on #167
Can you still reproduce this? If so, can I jump on a remote meeting with you and take a look.

[2016-01-18 14:45] niemyjski commented on #147
Closed via https://github.com/exceptionless/Exceptionless/pull/174

[2016-01-18 14:45] #147 closed

[2016-01-19 15:04] niemyjski commented on #150
Just a heads up, I moved this to the elasticsearch setup guide since it's kind of related: https://github.com/exceptionless/Exceptionless/wiki/Elasticsearch-setup-guide#logging-config-optional

[2016-01-19 20:48] Drel opened #176 "Add "only if >= 1 exception" to Daily Summary notification choice."
Currently, if I enable Daily Summary for notifications, I get a Daily Summary email notification regardless of whether any exceptions occurred ("Congrats! The "XXX" project was exceptionless!").

I would like to have the option to only get a Daily Summary if one or more exceptions occurred.  Sure, I can filter these emails out, but I don't see much value in receiving them.

[2016-01-19 20:54] niemyjski commented on #176
We need to sit down and have a discussion on notifications as a community and team. This feature request kind of ties into these issues (and should be discussed and merged into one).

* https://github.com/exceptionless/Exceptionless/issues/69
* https://github.com/exceptionless/Exceptionless/issues/76
* https://github.com/exceptionless/Exceptionless/issues/136

Currently we don't have any code in p

[2016-01-20 21:33] #166 closed

[2016-01-20 21:54] niemyjski opened #177 "Improved notifications"
The goal of notifications is to keep you informed without overwhelming you with too much information. It would be nice to know when things change (marked as fixed), a project is getting above normal exceptions, etc. Below are some issues that have been raised by others on how we can make notifications better.

### Objectives
* [ ] [Additional information on all emails (tags, descriptions, user ide

[2016-01-20 21:54] niemyjski commented on #176
I'm closing this as it's now merged into 177.

[2016-01-20 21:54] #176 closed

[2016-01-20 21:54] niemyjski commented on #136
I'm closing this as it's now merged into 177.

[2016-01-20 21:54] #136 closed

[2016-01-20 21:54] niemyjski commented on #69
I'm closing this as it's now merged into 177.

[2016-01-20 21:54] #69 closed

[2016-01-20 21:54] niemyjski commented on #76
I'm closing this as it's now merged into 177.

[2016-01-20 21:54] #76 closed

[2016-01-20 21:55] niemyjski commented on #81
I'm closing this as it's now merged into 177.

[2016-01-20 21:55] #81 closed

[2016-01-20 21:55] niemyjski commented on #87
I'm closing this as it's now merged into 177.

[2016-01-20 21:55] #87 closed

[2016-01-20 22:09] niemyjski commented on #54
@ocbaker do you think maybe the best solution would say `Are you sure you want to delete these stacks and all related events?` instead of `Are you sure you want to delete these stacks?`

[2016-01-20 22:13] niemyjski commented on #122
@jmoeltjen do you think a link to the blog would be enough or having an actual view with the [feed](https://exceptionless.com/feed/)?

[2016-01-21 15:46] jmoeltjen commented on #122
@niemyjski I would do a truncated list of the three most recent posts from the [feed](http://exceptionless.com/feed/), or just a twitter feed, which will also have it and promote people to follow on twitter and click through to the site. Should be some pretty quick & easy code snippets out there to steal if you don't want to write your own.

[2016-01-21 16:10] niemyjski opened #178 "Flow the client ip address from event submission into the pipeline context and events request info"
We should append this ip address to the request info client ip address list.

[2016-01-21 20:25] teamaton commented on #178
We would like to see the IP address on the Request tab of an Event Occurrence and also in the Session, where a very similar looking tab is named Browser.

[2016-01-21 21:25] niemyjski commented on #178
This should add the ip if it's not already there, but the request tab is the browser tab on session events :)

[2016-01-22 01:28] #119 closed

[2016-01-22 20:47] #178 closed

[2016-01-23 18:23] adamzolotarev opened #180 "Custom Stacking Behavior"
It would be useful to have some sort of property on the event that you can set that would override the default stacking behaviour and let you stack things in custom ways.

Currently, as a workaround, if you want to override default exception stacking behavior, you can do this:
[code]
And "customSource" will serve as a new stacking. But then you lose the Exception tab and you have to manually trans

[2016-01-25 16:19] niemyjski commented on #180
We had a quick talk about this over the weekend and we like this idea, would you be willing to take a stab at implementing this in a pull request?

Here is some of our thoughts on this:
* Create EventBuilder and Event extension methods on the client to handle this, but place them under a different extensions namespace (maybe Exceptionless.Advanced??). The reasoning for putting them in a different

[2016-01-25 16:19] niemyjski commented on #180
@ejsmith can you provide any additional feedback?

[2016-01-25 16:38] skoub opened #181 "Support other clients to send exceptions to the Events API"
I think it could help the adoption of Exceptionless if it could accept other clients, like Raygun, to send exceptions to the Events API.

Raygun already have big support for many plateforms like .Net, Java, PHP, Javascript, etc and they are all open source. I know that you can configure the url that the clients use to contact their API server so maybe it's just a matter to set the url to Exception

[2016-01-25 16:50] ejsmith commented on #180
So 1st off, the fact that we aren't showing the error tab when there is an error object on the event is a bug. Event type shouldn't matter for showing that tab. Only that the data is present.

I am definitely on board with allowing custom stacking and agree that I am a little worried that people would see something like SetStackingKey and think they needed to set it. But I think if we do something

[2016-01-25 17:02] niemyjski commented on #181
I think that's a really good idea that we didn't think of and would help us in the short term to gain more client support (IOS, JAVA, PHP). This should be really simple to support, here is what would need to be done.

* Add a new RayGun/Service XYZ event [parser](https://github.com/exceptionless/Exceptionless/tree/master/Source/Core/Plugins/EventParser/Default). This would take a look at the user

[2016-01-25 17:24] ejsmith commented on #181
Interesting idea. Yeah, this would actually be really easy to implement. Just need to translate from that format to ours. Our system already takes any random JSON data. Would just need to add the translation pipeline step and then point their OSS clients to our API endpoint.

[2016-01-25 18:14] skoub commented on #181
I have opened your code last week-end to see where i could implement this but i haven't found it yet. Could you please guide me to the right direction?

* the parser must be version aware. Raygun can change their model in the next major version. I will need help on how to do this.

before we give it a go, do we have the right to do this? I know they are open source but is their licencing are compa

[2016-01-25 18:19] ejsmith commented on #181
https://github.com/exceptionless/Exceptionless/tree/master/Source/Core/Plugins/EventParser/Default

We would add another plugin there to detect their useragent and then parse the JSON they send us and translate it into events in our system.

All of their clients are MIT license. So we can use them, modify them, redistribute them or whatever else.

[2016-01-25 18:27] niemyjski commented on #181
In the Core project you'd need to create a new `IEventParserPlugin`. You could just start by copying the [JsonEventParserPlugin](https://github.com/exceptionless/Exceptionless/blob/master/Source/Core/Plugins/EventParser/Default/JsonEventParserPlugin.cs) and then parsing into a raygun event model and then convert that model to our model. Once you get there model deserializing into a model, it's jus

[2016-01-25 18:38] niemyjski commented on #181
Here is a link to there docs: https://raygun.io/docs/integrations/api that specifies the model as

[code]

The online viewer http://jsonutils.com created this

[code]

[2016-01-25 18:39] niemyjski commented on #181
Now just need to copy a that plugin and the models I just posted above and deserialize the values into it :)

[2016-01-25 18:42] skoub commented on #181
Great. And i guest i will have to modify the current parsers to not only test the api version but also your own user agent?

[2016-01-25 18:43] niemyjski commented on #181
Yeah, and adjust the priority of the raygun parser to be after ours but before the default fallback plugin

[2016-01-25 18:45] niemyjski commented on #181
Let me know if you have any questions and if you commit often I can leave feedback / help where needed.

[2016-01-25 18:47] skoub commented on #181
i will give it a try later today. Can you also give me some hint on how i should contribute? I will fork your code, create a branch and code there?

I will also have to check your coding style.

[2016-01-25 18:52] niemyjski commented on #181
Yeah, we have a guide here: https://github.com/exceptionless/Exceptionless/blob/master/CONTRIBUTING.md . But in general, sign our cla (if there is an error signing it just send an email to team@exceptionless.com with your info. Then  fork our project and code under the branch thirdpartyclients (just created it) and create a pull request that references this issue. If you need any help getting setu

[2016-01-25 18:53] niemyjski commented on #181
We are also in our [gitter room](https://gitter.im/exceptionless/Discuss) if you wish to chat.

[2016-01-25 19:56] niemyjski commented on #180
If you look at his first sample, he's only setting the error type and not an actual error model on the event.

[2016-01-25 19:57] ejsmith commented on #180
@niemyjski Ahh, yeah. I missed that. It doesn't have any error object to add to the event.

[2016-01-25 23:59] adamzolotarev commented on #180
Thanks! I'll look into it.
And yes, I didn't submit any error object to the event. If I did, then I wouldn't be able to use "Source" as my custom grouping.

[2016-01-26 17:14] niemyjski opened #182 "Add UI for specifying user namespaces and common methods to project settings"
We already have support for specifying namespaces and common methods to ignore client side but we need to add a project configuration support for this and get it hooked up.

[2016-01-27 02:46] skoub commented on #181
i try to send my first exception with raygun but your api doesn't accept the request because raygun doesn't have an AuhtorizationHeader. Also, it doesn't use UserAgent so we will have to think how we can detect it's a raygun call.

I think we will have to rethink your api to accept the request without the authentification. Any idea?

[2016-01-27 06:57] niemyjski commented on #181
Do you have this committed on your branch so I can pull it down and take a look?

[2016-01-27 16:02] niemyjski commented on #181
I committed auth changes and an entries end point to the third party branch. Please merge them in and let me know if you have any questions.

[2016-01-27 16:27] skoub commented on #181
you've said that the current parser should not test agains the userAgent. How do you want to deal with that? When raygun will post his data, one your your parser with take it before the real raygun parser.

[2016-01-27 16:43] ejsmith commented on #181
The useragent will be set to raygun as the result of the changes that @niemyjski just made. So we can key off of that.

We also made it so that you can just setup a host header to map api.raygun.io to api.exceptionless.io and it will work.

[2016-01-27 23:38] ejsmith commented on #182
These need to be set in the project data dictionary. Add a new section called "Error Stacking"
- UserNamespaces: A comma delimited list of the namespace names that your applications code belongs to. If this value is set, only methods inside of these namespaces will be considered as stacking targets.
- CommonMethods: A comma delimited list of common method names that should not be used as stacking

[2016-01-27 23:38] ejsmith commented on #182
Move Client Configuration to it's own tab.

[2016-01-27 23:40] ejsmith commented on #182
Move delete bot data to the bottom

[2016-01-29 20:44] niemyjski commented on #182
Should enable the option to specify bot user agents as well..

[2016-01-29 20:48] ejsmith commented on #182
Yes, we should. That is a good idea. That should be in the client settings though so it will get sync'd to the clients.

[2016-01-29 21:16] niemyjski commented on #182
No really. It's a server side setting too.

[2016-01-29 21:16] niemyjski commented on #182
Just like data exclusions

[2016-01-29 21:37] ejsmith commented on #182
It's client and server. Just like we send the data exclusions to the client and try to keep the client from event sending the data in the 1st place, we will do the same with user agents and try to keep ignored agents from ever being sent.

[2016-01-29 22:21] ejsmith commented on #180
@adamzolotarev were you able to get a chance to look into this? I would like to have this for something I am doing as well.

[2016-01-29 22:23] #182 closed

[2016-01-30 14:23] adamzolotarev commented on #180
Not yet. I'm going to look at it today/tomorrow.

[2016-01-30 15:06] ejsmith commented on #180
Awesome! Let me know if you need any help. Here are some pointers:

This is where the current error stacking happens.

https://github.com/exceptionless/Exceptionless/blob/master/Source/Core/Plugins/EventProcessor/Default/20_ErrorPlugin.cs

I think we should have a step that happens before this that checks for the existence of @StackingKey in the event data dictionary. If that exists then we add it

[2016-01-30 18:54] adamzolotarev commented on #180
I updated Exceptionless and Exceptionless.Net.
Tried it locally - looks like it's working. The stacking key is shown at stack level:
![image](https://cloud.githubusercontent.com/assets/6343727/12697739/71fa3f5c-c758-11e5-9f8b-2be65bb02370.png)

I didn't get to the part of displaying the stacking key at the event level. Should I submit a pull request for what I have now? And which branch should I b

[2016-01-30 20:40] ejsmith commented on #180
Awesome! Yeah, create a branch and submit a pull request and we will check it out.

[2016-02-01 21:11] srijken opened #186 "Improve email receipts and "view payment""
Email receipt really needs the organization name. Currently it only show the plan, amount, and that it was for Exceptionless

Both can use:
- billing contact name
- billing contact email
- VAT number / Tax ID
  and maybe postal address too (not sure if this is required)

Also send the invoice mails to the billing contact email details.

In the overview, maybe add Amount and Plan as columns.

[2016-02-01 21:12] niemyjski commented on #186
I agree this needs to be done sooner than later. Do you have any advice on how we can make invoices more discoverable? I get asked on a weekly basis on "how do I find my invoices".

[2016-02-01 21:18] srijken commented on #186
Admin -> Organizations is probably the way most people go to look for it. Maybe they don't realize they can click the organization name there? Maybe a shortcut link from the organizations page will help?

[2016-02-01 21:18] niemyjski commented on #186
yeah, we can do that.

[2016-02-03 10:21] matteomigliore commented on #141
I report the request done to Blake to get:
- most day of week with errors
- most hour of the day with errors
- most used operating system
- most used browser

[2016-02-03 17:27] HankDitko commented on #96
I'd like to add my interest to this request. It would be very convenient to not get stacks marked as Regressed when they show up in older versions.

[2016-02-04 14:32] niemyjski commented on #96
I'm adding this to the 4.0 release. I'd like to do it even sooner as it would really help out in other areas. If your willing to take a shot at this in a pull request that would be greatly appreciated.

[2016-02-08 15:45] niemyjski opened #188 "Update default bot list"
Populate the default list of bot wildcards on projects to http://www.useragentstring.com/pages/Crawlerlist/

[2016-02-08 17:20] ejsmith opened #189 "Add chart options to stack page"
- [x] Ability to view chart based on the sum of the event values
- [x] Ability to view chart based on the average of the event values

Need to figure out how the UI will work to either switch modes or combine modes.

[2016-02-08 17:26] niemyjski commented on #189
Three types: Count, Sum Average

[2016-02-08 17:47] ejsmith commented on #189
Yes, where count is the current chart.

[2016-02-09 08:28] InlineAsm opened #190 "Error parsing events due to GEO location"
Hello,

I have a self-hosted instance of exceptionless running. I noticed several unprocessed json files in the storage/q folder and started investigating the cause. According to the exceptionless log there is an error parsing a field. The exception is:

[code]

Then I started to look into the elasticsearch logs and I got this snippet of log:
[code]

As far as I can determine the parsing of this p

[2016-02-09 16:00] niemyjski commented on #190
What local are you running in? I think it's an issue with the number format of the client or server? It should be a lat,long

[2016-02-09 16:04] InlineAsm commented on #190
The server is running on US locale. The clients with the problem are running on NL-nl.

[2016-02-09 16:14] ejsmith commented on #190
Hmm, yeah, guess we need to make sure that we specify the string format instead of letting it use the default.

[2016-02-09 17:24] niemyjski commented on #190
@InlineAsm I have a fix for both server and client that fixes this issue. I'll try and getting a new client release out soon: https://github.com/exceptionless/Exceptionless.Net/commit/0a4e07ee458c73efbc213a615be756f37b8adfce

[2016-02-09 17:25] niemyjski commented on #190
The server side is minor and you won't have to update. It's mainly the client that is broken under different cultures and needs the update.

[2016-02-09 19:13] InlineAsm commented on #190
Thank you very much for the fast response and fix!

[2016-02-09 19:23] niemyjski commented on #189
[code]

We could even simplify it even more by just having a timeline argument

[code]

We would be passing aggregations in via a query string, we'd need to parse it and then apply those to the aggregations.

There are a few things that we need to figure out..
1. Ordering? How are results returned? If we are parsing them, chances are things could get changed?
2. How do we apply aggregations on tim

[2016-02-11 21:52] niemyjski opened #192 "Store the submission user agent so we can do reports on the different submission clients"

[2016-02-17 12:54] InlineAsm commented on #190
I'm afraid the fix didn't fix it. You need to specify the CultureInfo.InvariantCulture in the ToString method to properly format the decimal with a point regardless of the culture. I missed it earlier when I was reviewing your change.

[2016-02-17 13:45] ejsmith commented on #190
So even though we are specifying a custom format, it will still change the decimal point to a comma in some locales? Didn't think it would automatically change a custom format string.

[2016-02-17 13:47] InlineAsm commented on #190
Yes, the format alone is not enough. I created a pullrequest on the exceptionless.net repo that fixes it.

[2016-02-17 14:20] niemyjski commented on #190
Aw thanks!

[2016-02-17 14:20] #190 closed

[2016-02-17 14:30] niemyjski commented on #190
I'm fixing this server side as we speak.

[2016-02-17 14:33] niemyjski commented on #190
Thanks again! Can you please let me know if you run into any issues. I can push a new client build soon. If you need a new server build you can grab it via our build artifacts or let me know.

[2016-02-17 14:49] InlineAsm commented on #190
Thanks! I need the client update most as I now have to delete around 8000 json files every 2 days because the clients are sending invalid data. I don't think that I need to update the server. It's running on US-us.

[2016-02-17 15:43] niemyjski commented on #190
Pushing the latest release now (1565) to nuget,

[2016-02-17 16:01] InlineAsm commented on #190
Thanks, I updated the client. I would be interested in the server artifacts too since I checked again and although the server runs and english version of Windows the locale is dutch there too... I couldn't find artifacts for the server build.

[2016-02-17 18:16] niemyjski commented on #190
Looks like we aren't pushing artifacts as part of the build. Can you let me know if the current server works under the different locale or if you still have issues. If you have issues is there any chance you could download the master repo and build it or I'm going to need to push a new minor release and I wanted to wait a week or two to get a few more things into it.

[2016-02-17 18:53] InlineAsm commented on #190
I built the server myself and it works now with the Dutch locale. No need to rush a release. Thank you very much.

[2016-02-17 18:55] ejsmith commented on #190
Awesome, thank you for the feedback!

[2016-02-19 19:21] niemyjski commented on #181
https://github.com/exceptionless/Exceptionless/pull/194

[2016-02-22 20:49] niemyjski commented on #180
This has both been deployed on clients and on the server. Are we 100% happy with this as I'm in the process of writing a blog post for this.

[2016-02-22 21:01] niemyjski commented on #180
.NET
https://github.com/exceptionless/Exceptionless.Net/blob/master/Source/Shared/Extensions/EventBuilderExtensions.cs#L63
[code]

Or you can set the stacking directly on an event (e.g., inside of a plugin).
https://github.com/exceptionless/Exceptionless.Net/blob/master/Source/Shared/Extensions/EventExtensions.cs#L288

[code]

JavaScript
https://github.com/exceptionless/Exceptionless.JavaScript/bl

[2016-02-23 16:17] niemyjski opened #1274 "Ability to view sessions by user"
When I have the user info. It would be nice if it was clickable and took me to a list of all of there sessions.

[2016-02-26 15:36] billhenn opened #1275 "Report on user countries"

[2016-02-29 12:49] niemyjski commented on #112
We also have a pull request which will help out quite a bit on client side deduping: https://github.com/exceptionless/Exceptionless.Net/pull/71

[2016-02-29 22:15] niemyjski commented on #188
I think that the following bot lists are not needed as `*bot*,*crawler*,*spider*, *aolbuild*, *teoma*,*yahoo*` will cover a large percentage of known bots:

[code]

[2016-03-01 04:45] #188 closed

[2016-03-06 10:15] EtiennePeeters commented on #167
I'd like to comment on this, as I also had this issue. Turns out my Elasticsearch cluster was not working properly due to wrong configuration.
(I also tried running Exceptionless along with Elasticsearch 2.2, which resulted in the same issue.)

Now everything is working fine, using a properly configured Elasticsearch 1.7.3 cluster.

[2016-03-10 19:59] billhenn opened #1276 "Detailed data usage report"
For budget-minded folks, it would be handy to know how our data usage over the last X number of days breaks down.  For instance, I have a fairly successful app and while I don't really send a bunch of feature usage events, my data usage in Exceptionless is very high.  I'd like to know something like this: 90% sessions, 2% logs, 0% broken links, 7% feature usages, 1% exceptions.  That would help me

[2016-03-12 19:09] niemyjski commented on #180
This feature has been implemented.

[2016-03-12 19:09] #180 closed

[2016-03-12 19:09] niemyjski commented on #189
This functionality has been implemented.

[2016-03-12 19:09] #189 closed

[2016-03-12 19:30] niemyjski commented on #132
Issue moved to [exceptionless/Exceptionless.Net #83](https://github.com/exceptionless/Exceptionless.Net/issues/83) via [**ZenHub.io**](https://www.zenhub.io/)

[2016-03-12 19:30] #132 closed

[2016-03-12 19:31] niemyjski commented on #122
Issue moved to [exceptionless/Exceptionless.UI #82](https://github.com/exceptionless/Exceptionless.UI/issues/82) via [**ZenHub.io**](https://www.zenhub.io/)

[2016-03-12 19:31] #122 closed

[2016-03-12 19:31] niemyjski opened #1277 "Add "Latest News" section to dashboard with list of latest blog article titles"

[2016-03-12 19:31] niemyjski commented on #98
Issue moved to [exceptionless/Exceptionless.UI #83](https://github.com/exceptionless/Exceptionless.UI/issues/83) via [**ZenHub.io**](https://www.zenhub.io/)

[2016-03-12 19:31] #98 closed

[2016-03-12 19:31] niemyjski opened #1278 "Show Tags in dashboard overview"

[2016-03-12 19:32] #88 closed

[2016-03-12 19:32] niemyjski commented on #88
Issue moved to [exceptionless/Exceptionless.Net #84](https://github.com/exceptionless/Exceptionless.Net/issues/84) via [**ZenHub.io**](https://www.zenhub.io/)

[2016-03-12 19:32] niemyjski commented on #54
Issue moved to [exceptionless/Exceptionless.UI #84](https://github.com/exceptionless/Exceptionless.UI/issues/84) via [**ZenHub.io**](https://www.zenhub.io/)

[2016-03-12 19:32] #54 closed

[2016-03-12 19:32] #46 closed

[2016-03-12 19:32] niemyjski commented on #46
Issue moved to [exceptionless/Exceptionless.Net #85](https://github.com/exceptionless/Exceptionless.Net/issues/85) via [**ZenHub.io**](https://www.zenhub.io/)

[2016-03-12 19:32] niemyjski commented on #45
Issue moved to [exceptionless/Exceptionless.Net #86](https://github.com/exceptionless/Exceptionless.Net/issues/86) via [**ZenHub.io**](https://www.zenhub.io/)

[2016-03-12 19:32] #45 closed

[2016-03-12 19:33] niemyjski commented on #38
We now support this via the manage project page and added a default list of bots that covers a very large percentage of bots. The clients now automatically discard events from bots :)

[2016-03-12 19:33] #38 closed

[2016-03-12 19:34] niemyjski commented on #83
@kellyelton did you have any luck with this?

[2016-03-12 21:04] kellyelton commented on #83
Sorry I have this on my todo list I've just been really busy.

[2016-03-18 19:36] niemyjski opened #203 "System.Web.HttpException: The client disconnected."
This error seems to be thrown by the api end points that are hit the most `/api/v2/error` and has been thrown thousands of times. I've been able to reproduce this error by posting something and then redirecting or navigating away from the page. The post content seems to be posted without issue.

I'm not sure if this is a client issue or what we can do about this but it would be good to get to the

[2016-03-18 22:07] Lord-Hasek commented on #167
Hey all,

I am encountering this issue as well in a self hosted environment. I'm running:

Elasticsearch 1.7.3
The latest Exceptionless release
IIS 8.5

I'm receiving all the same errors as @fagnercarvalho. Would we be able to set up a virtual meeting sometime after the 28th to take a look?

Thanks!

[2016-03-19 02:05] niemyjski commented on #167
Sure can you send me a message on gitter (preferred) or email and we'll set something up whenever you are free.

[2016-03-29 14:29] ahmettaha commented on #112
I also would like this. thank you.

[2016-03-31 06:04] lkh opened #207 "how to Additional Data filtering?"
how to Additional Data filtering?

[2016-03-31 06:06] lkh commented on #207
![image](https://cloud.githubusercontent.com/assets/534171/14166888/1314eb48-f752-11e5-82ca-6cf6b2856bad.png)

[2016-03-31 13:10] niemyjski commented on #207
This Additional Data is part of the request info (`event.data['@request'].data`) and we are only indexing specific fields in the extended data. For now, if you want a specific field indexed and searchable you need to put the simple field in the events data dictionary via `EventBuilder.SetProperty("name", value)` or `event.data["name"] = value`; Then you can search by it by doing `data.name:value`.

[2016-04-02 20:14] manivannants opened #208 "Selfhosting - Server URL Issue"
Hi,
I have successfully hosted the Exceptionless in the IIS and was able to create projects.
The issue i am facing is submitting data from the client. The client is a winforms application.

If my hosted exception URL is **http://<IP Address>:50000**, what would be the server url the clients will be using?
<exceptionless apiKey="api_key" serverUrl ="http://<IP Address>:50000" enableSSL="false" />

[2016-04-02 21:28] niemyjski commented on #208
You should set the `serverUrl` of your client to `http://localhost:50000` and everything will work :).

[2016-04-02 21:28] niemyjski commented on #208
Please let me know if you have any questions.

[2016-04-02 21:28] #208 closed

[2016-04-02 21:29] ejsmith commented on #207
Yeah, I would recommend adding the thing you want to search by as a custom property on the event.  Then you can use data.myproperty:somevalue in the search box.

[2016-04-02 21:29] #207 closed

[2016-04-02 21:35] niemyjski commented on #64
I'm closing this as this is something we will look into once we move to asp.net core. We are also looking at the performance impact running in docker may have.

[2016-04-02 21:35] #64 closed

[2016-04-02 21:36] niemyjski commented on #61
I'm closing this for now, if more people vote on this or submit a pull request we'll open it back up. Currently you can use the api to get access to all of your content.

[2016-04-02 21:36] #61 closed

[2016-04-02 21:40] niemyjski commented on #83
I'm closing this for the time being. We'd be more than happy accept a pull request for this behavior.

[2016-04-02 21:40] #83 closed

[2016-04-02 21:44] #21 closed

[2016-04-03 05:49] manivannants commented on #208
Well actually somehow the part of my url got truncated...
I have self hosted the Exceptionless in one of servers http://xxx.xxx.xxx.xxx:50000. When i browse this address, i get the login page and then able to setup projects and generate the API Key.

I am testing out with a windows forms app by forcing an exception and try to send it to exceptionless as below:
`ExceptionlessClient.Default.Configur

[2016-04-03 06:15] manivannants commented on #208
Hi Blake,
Well actually somehow the part of my url got truncated...
I have self hosted the Exceptionless in one of servers http://xxx.xxx.xxx.xxx:50000. When i browse this address, i get the login page and then able to setup projects and generate the API Key.I am testing out with a windows forms app by forcing an exception and try to send it to exceptionless as below:
`ExceptionlessClient.Default.

[2016-04-03 14:35] niemyjski commented on #208
On a side note `enableSSL="false"` is deperecated and no longer supported so I'd remove it. What happens when you hit: `http://xxx.xxx.xxx.xxx:50000/api/v2/status`?

Can you try submitting an event directly to the api via a get request (fix the link and click on it) and see if it's processed: `http://xxx.xxx.xxx.xxx:50000/api/v2/events/submit?access_token=YOUR_API_KEY&message=test`

[2016-04-03 19:17] manivannants commented on #208
Hi,

I get the below message when i run  http://xxx.xxx.xxx.xxx:50000/api/v2/status:

{
  "message": "All Systems Check",
  "version": "3.3.2327 4cf70f24fd",
  "website_mode": "Production",
  "machine_name": "WIN-Q5IHVOCKBF4"
}

Also when i try to submit the event thru the below link [fixed api and ip address]
 http://xxx.xxx.xxx.xxx:50000/api/v2/events/submit?access_token=YOUR_API_KEY&message=tes

[2016-04-04 12:55] kellyelton commented on #83
Alright. Yeah I'm actually not currently working for the company I implemented Exceptionless for(where this feature would have been useful), for the time being, so it became less of a priority. I still use it on another project of mine, but I use it hosted by you and I don't need any domain restrictions.

[2016-04-04 13:25] niemyjski commented on #208
Could you please join our gitter room: https://gitter.im/exceptionless/Discuss and we'll set up a meeting time to where I can take a look at this over team viewer if that works for you? Also could you ensure this machine has .net 4.6.1 installed as well as all windows updates.

[2016-04-04 16:52] niemyjski opened #209 "Testing polling"
This is a test description

[2016-04-04 16:52] niemyjski commented on #209
+1

[2016-04-04 16:53] #209 closed

[2016-04-04 19:48] haliphax opened #210 "405 Method Not Allowed during signup/login"
I'm installing a self hosted instance of Exceptionless, and it's broken from the get-go. I am running Windows Server 2012 R2 with IIS 8.5+ and Java 1.8+. ElasticSearch is installed and functional, .NET 4.6.1 has been installed, and ASP.NET and Static Content have been enabled in IIS. This is on a brand new server that does not have any other applications installed on it.

When you use the signup f

[2016-04-04 21:37] niemyjski commented on #210
Does your server have all windows updates and has been rebooted since installing them? Have you installed the yml file for elastic search? Can you please join our gitter channel and I'll help you to setup and configure exceptionless :). https://gitter.im/exceptionless/Discuss I'm going to close this as I'll help you via remote meeting.

[2016-04-04 21:37] #210 closed

[2016-04-05 12:42] niemyjski commented on #210
@haliphax Would you be able to meet up?

[2016-04-05 13:37] haliphax commented on #210
I fixed it by opening the *Modules* in IIS Manager for the newly-created site and using *Revert to Parent*. Everything suddenly started working. Strange thing is, I didn't change any of the module settings to begin with. :( At any rate, I'm creating a project and playing with it now!

[2016-04-05 13:45] niemyjski commented on #210
That's weird. Please let us know if you have any questions or feedback

[2016-04-05 14:21] haliphax commented on #210
Well, it's not sending events (or not catching them). I'll jump in gitter momentarily.

[2016-04-05 20:36] Daniel-Miller commented on #70
This would be helpful for our team as well.  +1!

[2016-04-06 12:39] ejsmith opened #212 "Smarter monthly throttling"
Current throttling calculation:
(total monthly events / hours in month) * 10

New throttling calculation:
(Events left in month / hours left in month) * 10

This would keep us from throttling accounts at the end of the month that haven't used a lot of their plan up. People feel cheated when we throttle and they still have a lot of events left in the month.

We can potentially calculate this rate o

[2016-04-06 12:43] ejsmith opened #213 "Don't count heartbeat events towards limit"
Heartbeats are tiny and just update the date on the session event. Let's discard them after updating the session and not count them against the monthly events.

[2016-04-06 13:59] niemyjski commented on #112
Merged from #212:

[2016-04-06 13:59] niemyjski commented on #212
Merged into #112

[2016-04-06 14:09] ejsmith commented on #203
This might just be a bot or something trying to hit this endpoint and then disconnecting before sending something.  Or maybe just a normal client aborting a request in the middle.  Or maybe someone trying to send a large post and getting cut off.

[2016-04-06 14:29] niemyjski commented on #203
from the user agents it's submission clients.

[2016-04-11 15:30] niemyjski opened #214 "Update organization usages on plan change"
Currently when you upgrade a plan the event usage totals are not updated immediately and so the charts on the organization page aren't reflected immediately of the new totals.

[2016-04-13 15:53] ahmettaha opened #215 "Ignore exceptions based on type"
Is it possible to add exception types to settings on the admin panel, so those types of exceptions are not calculated towards the quota.

[2016-04-14 11:39] niemyjski commented on #203
http://aspnetwebstack.codeplex.com/workitem/1797

[2016-04-14 11:44] niemyjski commented on #215
@ejsmith what if we had a plugin that allowed you to ignore exceptions based on exception type. Like `System.OperationCanceledException` and even supported wild cards. That way if you have an exception totally blowing up you could ignore it in project settings until you fixed it.

It would be a stop gap. The negative is that it would potentially block you from seeing other valid exceptions.

[2016-04-14 13:17] #214 closed

[2016-04-14 15:38] #212 closed

[2016-04-14 16:25] ejsmith commented on #215
Yeah, I think that would be nice.

[2016-04-15 19:10] rushfrisby opened #217 "User account not persisted"
What permissions do I need on my folders if I am self hosting? When I first go to the app and create an account it seems to be created, it lets me in to create an organization and project, but then if I close the browser and go back to the app it doesn't let me log in and I can create the same user account again, afterwhich the organization and projects are gone as well.

[2016-04-16 01:40] rushfrisby commented on #217
Okay I guess i needed to fix the email config. I get the account verification email now, but it doesn;t work. The link goes to http://server/account/verify?token=token which gives me a 404. If I stick a # in there... http://server/#/account/verify?token=token it brings up the site, but then I get a red box saying there was an error verifying the account. Where can I check what the error is?

[2016-04-18 12:55] niemyjski commented on #217
@rushfrisby When I've seen this in the past it's been two things:
1. Invalid elasticsearch yaml config (are you using our config settings)
2. Does your server have .NET 4.6.1 installed and all windows updates + server reboot after installing them?

Does either of these two things fix this issue? If not let me know and I'd be more than happy to meetup and take a look.

[2016-04-18 13:05] rushfrisby commented on #217
I have 4.6.1 installed and I'm pretty sure I've got all of the latest windows updates-I used the most recent version of Win2012 R2 on Azure.

I used your yaml config except elasticsearch kept crashing a few seconds after starting the service. I'm using the windows version on the same box as exceptionless. This is what was in the log file:

After changing the settings to what was suggested elastics

[2016-04-18 13:14] niemyjski commented on #217
Looks like you tried to install elastic search 2.0. We only currently support 1.7.5 until https://github.com/exceptionless/Exceptionless/pull/183 is merged in (probably won't be until elastic 5.1 is released this summer as they are adding external cluster reindexing which would make it much easier to upgrade from 1.7.5)

[2016-04-18 13:16] rushfrisby commented on #217
I'll try that and let you know how it goes. Thanks!

[2016-04-18 13:16] niemyjski commented on #217
No problem! we want to update the status page to add some checks for elastic configuration settings and version

[2016-04-18 13:25] rushfrisby commented on #217
Working now! Thanks! Looking forward to start using exceptionless.

[2016-04-18 13:28] niemyjski commented on #217
Awesome!! Thanks for the heads up!

[2016-04-18 13:28] #217 closed

[2016-04-18 13:31] niemyjski commented on #208
Were you able to get this working?

[2016-04-18 13:32] niemyjski opened #218 "Verify Elasticsearch configuration on status page"
The app will fail without it and a lot of self hosters are running into this behavior:
- https://github.com/exceptionless/Exceptionless/issues/217
- https://github.com/exceptionless/Exceptionless/issues/210
- https://github.com/exceptionless/Exceptionless/issues/167

[2016-04-18 13:44] niemyjski commented on #217
@rushfrisby feel free to join us on slack https://slack.exceptionless.com/

[2016-04-22 04:25] laughinggoose opened #223 "Active Directory Auth support"
When I set up our install of self-hosted Exceptionless, I hacked in some Active Directory authentication to replace user accounts in Exceptionless.

Can I work on contributing this? I would be starting mostly from scratch because my changes were quick and applied to a much older version. Are there any roadblocks that I should keep in mind?

[2016-04-22 19:04] niemyjski commented on #223
I'm not aware of any roadblocks and we would welcome a pull request for this! Please feel free to join our slack room: http://slack.exceptionless.com

[2016-04-22 19:05] niemyjski commented on #223
I'm going to close this for now (to keep the issues clean), but we would love a pull request for this. I hope to talk to you more about this.

[2016-04-29 04:48] niemyjski commented on #213
This has been pushed to production via a new api end point: https://github.com/exceptionless/Exceptionless/pull/227/files

[2016-04-29 04:48] #213 closed

[2016-05-05 19:13] #203 closed

[2016-05-05 19:15] niemyjski commented on #192
This change is in the latest nightly

[2016-05-05 19:15] #192 closed

[2016-05-05 19:20] niemyjski commented on #215
This functionality is currently being tested and will be released next week with new clients depending on how dog fooding goes. This will be controlled short term by adding a project configuration setting key `@@error:System.OperationCanceledException` with a value of `false`. You can control any event type even with wild cards..

**key:** `@@feature:*` **value:** `false` (Turns off the submission

[2016-05-05 19:20] #215 closed

[2016-05-09 16:34] muhammetsahin opened #228 "Problem with Turkish culture"
Hi,

I want to setup exceptionless on my machine. My machine culture is Turkish. And i got error with new project

`{
   "took": 8,
   "timed_out": false,
   "_shards": {
      "total": 10,
      "successful": 10,
      "failed": 0
   },
   "hits": {
      "total": 5,
      "max_score": 1,
      "hits": [
         {
            "_index": "organizations",
            "_type": "project",

[2016-05-09 16:35] niemyjski commented on #228
There is some kind of bug here. I think it has to do with deserialization but it doesn't really make sense because both users and organizations work and they have the turkish characters but returning projects fail with no error messages.

[2016-05-09 16:38] niemyjski commented on #228
@muhammetsahin is there any chance you could step through the `/api/v2/projects?access_token=YOUR_USER_TOKEN_STORED_IN_BROWSER_SESSION_DATA` on a turkish based machine under a debugger and see exactly what is going on here. We try to handle strings properly but looks like someplace it's not handling it correctly.

[2016-05-10 06:08] muhammetsahin commented on #228
![image](https://cloud.githubusercontent.com/assets/2045788/15136943/c4bfa7ec-168e-11e6-9107-14640ccee36e.png)

[2016-05-10 13:33] niemyjski commented on #228
@muhammetsahin, yes, one would need to pull down master and run it (the server) under a debugger. Then navigate to [http://local-app.exceptionless.io](http://local-app.exceptionless.io) which points to your local server and create a new project. Then hit the end point above (as shown in your screenshot) and step through it.

[2016-05-10 19:22] markusgud commented on #131
I see this as an excellent way to specify for example in what scenarios this error happened and how to reproduce it. Especially for not as critical bugs that one wants to work on later.

Otherwise it is easy to forget how to reproduce the bug based on the exception stack (there could be a faulty data insert done before a redirect or reload is performed).

[2016-05-10 19:25] markusgud commented on #96
I very much agree with @HankDitko. It would be nice to not get stacks marked as Regressed when they show up in older versions. We have our software installed in different versions with different clients, so it would be very helpful to only get the Regression status on the exception when it makes sence. Version can be determined from the assembly version of course.

[2016-05-11 19:20] niemyjski opened #229 "New Dashboards"
WIP
- [ ] Break down of event types,
- [ ] number of users online,
- [ ] percent of users getting an error,
- [ ] where are the people located geographically,
- [ ] what browsers are they using,

- [ ] New vs. returning users (pie chart?),
- [ ] active users and sessions graph,
- [ ] geo (top country usage),
- [ ] top language,
- [ ] top app versions,
- [ ] top devices or resolutions,
- [ ] billin

[2016-05-12 12:39] BillHenning commented on #96
This is a great idea.

[2016-05-12 12:57] boydpatterson commented on #96
I like @ejsmith idea of also setting the version it was fixed in.  Some users are slow to upgrade and could be multiple versions behind.  Consider a bug that is present in v1 and v2.  Customer A is running old v1 and is the first to report the exception.  I mark it as fixed, and that fix will be in next release which is v3.  Customer B is running v2 and hits the same exception for the first time.

[2016-05-12 13:34] srijken commented on #96
Also consider versions, apart from having one version. We could do a hotfix 1.2.0 -> 1.2.1 and 2.3.2 -> 2.3.3. In that case you have multiple "current" versions

[2016-05-12 13:52] niemyjski commented on #223
so if we had a server side config that said all logins will be active directory based... it could make things really simple https://www.linkedin.com/pulse/20140321182530-86053522-email-address-login-in-active-directory you can tell active directory to make a login alias that’s the actual email address.

Then we don’t have to change anything anywhere except for marking them as read only and not all

[2016-05-12 14:07] ejsmith commented on #96
I definitely want this feature as well. My only concern is how to keep it simple to mark things fixed. Don't really want to force the user to manually enter a version number. We can auto populate a list, but that list could get huge and we the version that it's fixed in might not even be released yet so you wouldn't even be able to list the correct version.

[2016-05-12 14:08] niemyjski commented on #223
We still require signin via email address which can be supported via ad.

What happens is we add a new property for AD login, if that is set the only login / signup that is supported is via ad.

## Login
Right after we get the user and verify it's not null. We check to see if the ad settings is true, if it is, then we look up the user and see if they are valid, we also verify them if they are not

[2016-05-12 14:18] tekmaven commented on #223
I don't think LDAP/AD is the way to go.  It's better to support AD via ADFS, which I feel will integrate better into the existing Exceptionless stack. [ADFS supports OAuth 2.0](https://blogs.technet.microsoft.com/maheshu/2015/04/28/oauth-2-0-support-in-adfs-on-windows-server-2012-r2/).  It would be great if this could be offered as an SSO solution for customers on the hosted solution.  This could

[2016-05-12 17:33] niemyjski commented on #96
Well, we could query for all the versions and pick the latest stable one that the error occurred on and set as the one where the exception occurred in. then any future stable version (no version suffix) we reopen it).

[2016-05-12 17:49] BillHenning commented on #229
A lot of other systems split out some of what you have in "Update existing Sessions dash" into their own pages.  I'm fine with having it be most consolidated onto one though.  The existing Recent Sessions list on that page should fall under all those other proposed new items.

[2016-05-12 17:55] niemyjski commented on #229
I agree, I just don't know where you'd put it and if a user is already looking a ton of user metrics, it makes sense to put it there.

[2016-05-12 17:58] niemyjski commented on #229
Maybe we create a new default dashboard that could have a lot of this like:
- billing (events left and when it renews)
- top projects
- error stacks
- current user count last 24 hours with count of currently active users
- users geo
- % of those that had an error
- pie chart with active versions

each of those charts could be clickable and take you to a different dashboard that shows you more info

[2016-05-12 17:59] BillHenning commented on #229
I would like to have an overview dashboard like that and have it be your default landing page.

[2016-05-12 18:06] niemyjski commented on #229
Yeah, that's what it would be. I think we would have to come up with a new name or rename the existing /dashboard route

[2016-05-12 18:09] niemyjski commented on #96
@sander wouldn't you have different projects for multiple different versions? I'd like to keep it simple with one version but we do have our spa app and server app in the same project

[2016-05-12 20:33] tekmaven opened #230 "Environments"
Currently there is no concept of environments in Exceptionless.  We would like to separate Production exceptions from development environments.  The current workaround we have is to create an project per app, per environment.  For example: "Public Website (Production)" and "Public Website (Development Environment)".

A couple of ideas:

- Allow me to define environments on a per-project basis and

[2016-05-13 22:30] dlacaille-baytech opened #232 "VNext"
Hello,
Do you plan to create a VNext client config extensions?

[2016-05-13 22:34] niemyjski commented on #232
Yes, we have an open issue that is tracking it here: https://github.com/exceptionless/Exceptionless.Net/issues/28 We've been waiting for rc2 tooling before starting. We have been talking about this in our slack channel as well (please join us http://slack.exceptionless.com). With the recent decision of project.json and tooling we need to make sure we do the right work so we don't do something that

[2016-05-13 22:34] #232 closed

[2016-05-13 22:35] niemyjski commented on #232
Also, you should be able to use exceptionless today if you target the full clr of asp.net core (if you can't please let me know).

[2016-05-13 22:37] dlacaille-baytech commented on #232
Sounds like a plan. Sorry, I missed the other ticket, I searched for "vnext." Will try the approach and let you know.

[2016-05-16 17:32] niemyjski commented on #229
Feature request: simple pie chart of Feature Most Frequent" to show proportions.

[2016-05-27 09:26] AnderssonPeter opened #233 "Any plans to move to asp.net Core?"
Are there any plans to move to asp.net core?

[2016-05-27 13:09] niemyjski commented on #233
Were adding support for the clients right now (https://github.com/exceptionless/Exceptionless.Net/issues/28), I've already ported the core library to .net standard 1.2 and should have a beta here within the next week. We won't be upgrading the server to asp.net core until the dest settles post rtm (they are about to announce a massive list of changes coming to asp.net core + project system that wi

[2016-05-27 13:09] #233 closed

[2016-06-03 07:42] muhammetsahin commented on #228
I solved by myself.

I've changed some method in StringExtensions class

` public static string ToLowerUnderscoredWords(this string value)
        {
            var builder = new StringBuilder(value.Length + 10);
            for (int index = 0; index < value.Length; index++)
            {
                char c = value[index];
                if (Char.IsUpper(c))
                {

[2016-06-03 15:58] niemyjski commented on #223
@tekmaven while I agree with you 100% I think we need to support this short term and work towards ADFS as it would be really nice to have and support a generic solution. In the mean time AD support has been tested and merged in.

[2016-06-03 15:58] #223 closed

[2016-06-03 16:31] niemyjski commented on #228
thanks for the heads up on this, I'm glad you were able to get this resolved locally.

[2016-06-06 17:12] carloskarass commented on #217
@niemyjski  Hi i need your help, in my work we deploy Exceptionless in self hosting on Windows Server 2012 R2 and IIS 8 (Not Express edition), but we have a problem with login or sing up for users.

[2016-06-07 13:16] niemyjski commented on #217
What version are you deploying? If you want to jump on slack, we can setup a meeting and I can take a look with you.

[2016-06-07 16:39] carloskarass commented on #217
Hi Blake,

We try again today, it was a problem with SSL, now we can connect clients
to server, the problem now is client app, does not write log in the dash
board.

we really appreciate your assistance.

Regards.

2016-06-07 7:16 GMT-06:00 Blake Niemyjski <notifications@github.com>:

[2016-06-07 16:43] niemyjski commented on #217
I'm not sure what you're saying. If clients are reporting to the server, are you having problems with the exceptionless User interface (spa app that talks to the server). If so are you getting an error in your browser?

[2016-06-07 17:18] carloskarass commented on #217
@niemyjski,
We have the exceptionless app on windows Server 2012 R2 and we access to the dashboard from others PC inside the LAN of the company.

When the Client app crash and "send" the exception in the try-catch , really does not save in the database, obviously dont see in the dashboard.

![1](https://cloud.githubusercontent.com/assets/19782432/15867636/67fe3a90-2ca1-11e6-8363-465fe4d809bf.PNG)

[2016-06-07 19:05] niemyjski commented on #217
That all looks good. Have you went through the trouble shooting section of the guide: https://github.com/exceptionless/Exceptionless/wiki/Self-Hosting#troubleshooting

If you could go through those, can you send me the results of the 3rd step (what's displayed on the status page).

[2016-06-08 15:36] carloskarass commented on #217
@niemyjski
Hi Blake,

We checked the guide, and we don´t found any diferences.

The only diference is that we change our locahost  by IP address in the archives.

This is the screenshot of status.
![6](https://cloud.githubusercontent.com/assets/19782432/15900341/6b93f314-2d5c-11e6-8007-f80897226313.JPG)

[2016-06-08 15:38] niemyjski commented on #217
Can you double check your configuration, in the screenshot you sent earlier the web.config had mode production and your mode on the status page is set to dev. Which means you could be pointing to the wrong server or updated the wrong web.config. Also are your using elastic search 1.7.3 with our elastic.yml settings?

[2016-06-08 15:46] carloskarass commented on #217
@niemyjski

We are using ElasticSearch 1.7.5, we changed a mode production and still not working.

[2016-06-08 15:51] niemyjski commented on #217
That will work, I don't know without actually taking a look at it as it all looks fine. You could try submitting directly to the server with: `/api/v2/events/submit?access_token=YOURAPIKEY&message=test` and seeing if it appears in the dashboard, that's posting directly to the server.

[2016-06-08 15:52] niemyjski commented on #217
If you can join https://slack.exceptionless.com/ we can discus it more and set up a meeting to take a look at it.

[2016-06-08 20:45] rushfrisby opened #234 "Cannot login"
I am self hosting. I created an account but am getting an error logging in. In the lower right hand corner there is a red message box saying:

In case I was using the wrong password I initiated the password reset process, got the email, click the link, and reset my password... after which I still was not able to login.

Other users can log in fine.

Any ideas as to what I can do to fix this?

[2016-06-09 13:08] niemyjski commented on #234
Try again in a half hour, we have security that kicks in after a few failed logins and it doesn't matter what you do, it won't be reset. If however, you do a password reset with a valid token we may want to lift this. Did that fix it?

[2016-06-12 22:19] baalazamon opened #236 "New release with heartbeat API"
Current JavaScript Exceptionless client is calling hearbeat api that doesn't exist in release 3.3.2327.

Is it possible to publish new version of Exceptionless that is compatible with JavaScript client?

[2016-06-13 13:05] niemyjski commented on #236
@baalazamon yes, we will be pushing a new version probably next week. We are working on getting a beta out of the .net client first

[2016-06-13 13:07] niemyjski commented on #236
In the mean time you could pull down master and run the build script or compile the solution and deploy the artifacts. We'll work on getting a release out there. Please feel free to join our slack channel.

[2016-06-13 13:35] niemyjski commented on #233
​Hey, I wanted to let you know that we have a nightly build which is stable and will become a beta release. It's on nuget as a prerelease v4 build. It's a major version because we got rid of the portable package and merged everything in to the Exceptionless package and made it pcl + .net standard.  Please feel free to update your nuget packages to this release and let us know about any issues.  If

[2016-06-16 09:58] AnderssonPeter commented on #233
Thanks @niemyjski but I'm sorry to say until the host part is ported to asp.net Core its unlikely that I can use it in my project.
Otherwise this logmanager seems like a great product!

[2016-06-18 13:22] niemyjski commented on #233
We're still waiting on core dependencies to be updated. To core clr

[2016-06-20 06:11] AnderssonPeter commented on #233
Ok @niemyjski  thanks for the update :).

[2016-06-20 07:44] AnderssonPeter commented on #233
@niemyjski is there any issue for this, that contains a list of all dependencies and which are ported to core clr?

[2016-06-20 11:18] niemyjski commented on #234
Were you able to resolve this issue? Please let me know if you are still running into this behavior and we'll reopen this issue

[2016-06-20 11:18] #234 closed

[2016-06-20 11:20] niemyjski commented on #233
There currently is no issue tracking this but it is something we are actively working on and will start investigating (open an issue for) post rtm. Off the top of my head we'll have to port to elastic search 5.1 (not yet released), foundatio, oauth2 before we can upgrade to core clr and that is the biggest blocker.

[2016-07-07 18:08] niemyjski commented on #236
https://github.com/exceptionless/Exceptionless/releases/tag/v3.4.0 has been released

[2016-07-07 18:08] #236 closed

[2016-07-15 18:57] niemyjski commented on #96
This is deploying and will be incrementally worked on. We have support for specifying a fixed in version but we don't yet have a public api for listing all the unique versions. That will be coming once we refactor the stats api to support returning complex types.

@srijken right now, were only going to support one fixed in version. So you'd need to pick the highest version.

[2016-07-15 18:57] #96 closed

[2016-07-15 19:02] crowbarsolutions opened #239 "Bug in resolving EnableActiveDirectoryAuth"
So I'm testing out the latest release, trying to get active directory authentication working. I followed the wiki and set the LdapConnectionString setting in my web.config. However AD authentication did not work.

After poking around your code it looks like when the application calls `Settings.Current.EnableActiveDirectoryAuth` in AuthController.cs it still returns false even if the LdapConnection

[2016-07-15 19:05] niemyjski commented on #239
@laughinggoose Any chance you can submit a pr for setting the Enable setting to true if the connection string is set there instead.

[2016-07-15 19:52] crowbarsolutions commented on #239
So the issue actually was partially my fault, I specified the LDAP connectionstring in the `<appSettings>` section of the web.config. After looking at the code it became clear the application was looking for it in the `<connectionStrings>` section of the web.config file. I just went in and made the Wiki instructions much less ambiguous.

I also submitted #240 which includes an empty `LdapConnectio

[2016-07-15 19:53] niemyjski commented on #239
It's all good thanks for the heads up :)

[2016-07-15 19:53] #239 closed

[2016-07-29 19:23] lordscarlet opened #242 "Implement FIPS compliant hashing"
[code]

[2016-07-31 13:17] niemyjski commented on #242
We use this to calculate a hash of inputs to be used for stacking. Is there a way to do this in FIPS (and generate the same exact hash)? Is this supported by the .net core runtime?

[2016-07-31 13:19] niemyjski commented on #242
https://blogs.technet.microsoft.com/secguide/2014/04/07/why-were-not-recommending-fips-mode-anymore/

[2016-07-31 13:21] niemyjski commented on #242
@lordscarlet is there any chance you could take a look into this and see if there is a setting we could specify to ignore this error. I don't think we would be changing this code unless we can produce the same hash as it would change the stacking of every single one of events for everyone (self hosted and hosted)

[2016-08-01 10:53] jakingfox opened #243 "Email Notifications did not work"
Hi.
I downloaded the latest version of Exceptionless and I setup my server following the tutorial for Self-hosting. But Email Notifications did not work, what am I missing ?

[code]

![123](https://cloud.githubusercontent.com/assets/5730269/17291880/f95c728e-5818-11e6-942f-30117991d310.png)

[2016-08-01 14:59] niemyjski commented on #243
Are you using in process or out of process jobs (configured in your web.config)? Did you update your `WebSiteMode` to `Production`? I'm assuming your email address is verified? Are you getting any notifications at all?

[2016-08-01 15:58] lordscarlet commented on #242
In theory we can disable it on the server, but as this is a government
machine I believe that would put is in non-compliance of standards we are
expected to follow.

On Sun, Jul 31, 2016 at 9:21 AM Blake Niemyjski <notifications@github.com>
wrote:

[2016-08-01 17:23] niemyjski commented on #242
You could try this in the web.config

[code]

[2016-08-02 01:14] jakingfox commented on #243
Thanks for your reply
The attachment is my Web.config

I Only received the verification email after I created an account, Other email notifications did not receive.

[code]

[2016-08-03 13:34] niemyjski commented on #243
All that looks good,  You could try pulling down the code locally and step through the mail sender or you could enable logging on the client. You can do this by creating a new exceptionless project and then add two new app keys

[code]

Then trigger a few new events and failed emails should appear in the logs.

[2016-08-04 11:06] jakingfox commented on #243
I think the reason is I use Nlog methods, that's why I do not receive any email notification. then I tried to use
`ExceptionlessClient.Default.SubmitLog("Logging made easy"); `
I was able to recieve email alerts.

My new question is, Can NLog supported mail notification?

Another problem is that, I tried to send error follow the example "Manually Sending Errors", I did not receive any notification

[2016-08-04 11:54] eric1973 commented on #243
I had the same issue. After deleting the whole stack (all exceptions, events, logs) I was able to receive emails again.

[2016-08-04 13:34] niemyjski commented on #243
I've added new instructions on how to view the log files of the exceptionless server (https://github.com/exceptionless/Exceptionless/wiki/Self-Hosting#troubleshooting)

@jakingfox what do you mean? Everything is sent to exceptionless as an event, if the event reached us, it's a candidate for a notification, please note that only specific instances will trigger a notification (you will only get the

[2016-08-05 01:38] ericbrunner commented on #243
Hey Blake,

That sentence is missleading:

Create a new exceptionless project and then add the following appSettings to theweb.config<https://github.com/exceptionless/Exceptionless/blob/master/Source/Api/Web.config#L8>.

You link to the server side weg.config. But don't you mean the client projects app.config or

web.config? Because why should an API Key be added on the server side.

mit freundlic

[2016-08-05 03:13] niemyjski commented on #243
You are using exceptionless client which is hooked up to the exceptionless server to log to itself the server. So yes you need to create a new project on the server and then have the servers client to use that app key and server url.. This will allow you to view the server side logs using exceptionless ui

[2016-08-09 10:03] jakingfox commented on #243
Thank you for your reply, but i am confused.
if an exception occurrs 3 times are send to exceptionless in one day, how many times will exceptionless send out email ?
if the same exception occurrs again the next day , will exceptionless send out email ?

[2016-08-09 17:04] niemyjski commented on #243
- once, we only send it on the first time it occurs.
- We send it out every time if it's marked as a critical exception (within reason, we only send out 15 notifications in like a 15 minute window).
- If you mark a stack as fixed, and it regresses (new occurrence in a newer version), we will send one regression email.

[2016-08-09 17:06] niemyjski commented on #243
We don't believe that we should ever send out an email for every occurrence that occurs. This is noise and you will start ignoring every email and they will not be as important. **But we do want to be smarter about emails** and send one out if you start getting a ton of occurrences to let you know that something is going wrong.

With the above said, is this working as expected?

[2016-08-10 01:59] jakingfox commented on #243
Thanks for all your help, the process of exceptionless is reasonable, i will use it to replace elmah.

[2016-08-10 14:16] niemyjski commented on #243
Thanks, If you have any questions or this didn't resolve this issue, please let us know and we will reopen this issue.

[2016-08-10 14:16] #243 closed

[2016-08-17 02:38] masaeedu commented on #64
@niemyjski Do you have an issue tracking the work that is blocking this?

[2016-08-17 03:26] niemyjski commented on #64
Nope, this can't happen until we support .net core (getting lots closer but still a few months out. We need to move to elastic 5.x)

Get Outlook for iOS

On Tue, Aug 16, 2016 at 9:38 PM -0500, "Asad Saeeduddin" <notifications@github.com> wrote:

@niemyjski Do you have an issue tracking the work that is blocking this?

—
You are receiving this because you were mentioned.
Reply to this email directl

[2016-08-18 16:54] ericbrunner opened #245 "Ability to configure daily notification times"
Hey,
Because the Daily Summary Emails aren't sent to that time we want and it is very hard  to configure (without Blake impossible for us) , it would be great when the scheduling time (the time when we want to received the emails for the Daily Summary) can be set in the User Setting somewhere in the Notification Tab like the mockup screenshot below:

You must also be able to set the local timezone

[2016-08-22 15:18] niemyjski commented on #245
I think that it would be best to go off utc time and have a nice localized time ui where you pick the time you want it to run (offset from utc).

[2016-08-23 11:31] ericbrunner commented on #245
Good

[2016-08-29 13:24] HenrikHoyer commented on #177
Please add an "daily/weekly/monthly" option

[2016-08-29 13:25] HenrikHoyer commented on #177
Please remove the "congrats, no event was logged" mails - they are just noise

[2016-08-29 14:08] niemyjski commented on #177
@ejsmith what do you think about not sending dailies if there are no events? Could lead me to think that notifications are not working or we have not yet configured our project. We do have project is configured flag. Maybe we add configuration required emails and option to not send.

[2016-08-29 14:25] HenrikHoyer commented on #177
I want to receive exceptions from you, not the normal case :-) All monitoring systems we use only send notifications on exceptions/deviations - none are sending "everything ok mails".

But if your current users are depending on these "everything ok" mails, then add a "send summary mails even if no exceptions has been logged" flag (imho with default = no)

[2016-09-02 15:49] rushfrisby commented on #141
I was just about to open an issue for this. Performance metrics would make exceptionless a good competitor to app insights on azure. I think you would need to adjust the pricing/number of events though - longer retention in exceptionless but more events in App insights.  I'm unsure of what [Session data vs Other data points](https://azure.microsoft.com/en-us/pricing/details/application-insights/)

[2016-09-02 17:11] niemyjski commented on #141
You can do this today by submitting an event and specifying a value on the event.

[2016-09-04 17:06] ejsmith opened #247 "Azure Resource Template"
- Elasticsearch cluster
  - https://github.com/elastic/azure-marketplace
  - Remove Shield and other commercial plugins
  - Remove phone home
- Redis
- Api web app
  - WEBJOBS_STOPPED
- App web app
- Collector / Jobs web app
- Storage account
- Api and Collector go into same vnet as ES
- Refactor config to set defaults and reduce number of config settings
- Needs to support a prefix to allow creat

[2016-09-10 08:20] niunan opened #249 "is no work in .NET 4.0?"
is no work in .NET 4.0?

[2016-09-10 17:11] niemyjski commented on #249
Hello,

The v4 client version only supports .NET 4.5 and above. We did this for many reasons (easier to use async and simplifies a bunch of code while making .net standard support much easier). With that said, we will continue to support all versions of our clients. Any version prior to v4 supports .NET 4.0, as such please install the latest v3.5 client from nuget. If you need any help, please let

[2016-09-10 17:11] #249 closed

[2016-09-14 03:49] RobbyHo opened #250 "how to set the RedisConnectionString?"
as title..

[2016-09-14 04:13] niemyjski commented on #250
Depending on where you are hosting, you'd need to set it to something like this: `localhost:6379,abortConnect=false` as shown here: https://github.com/exceptionless/Exceptionless/wiki/Self-Hosting#redis

Please let us know if you have any questions.

[2016-09-14 04:13] #250 closed

[2016-09-14 04:19] RobbyHo commented on #250
hi~ @niemyjski  thanks for your answer! I set RedisConnectionString follow https://gist.github.com/niemyjski/8aaf80196c00d6880cd9, but the web throw a exception:Invalid URI: this URI is NULL

[2016-09-14 04:22] RobbyHo commented on #250
my redis server is avaliable,that run on CentOS at version 3.2.3

[2016-09-14 14:18] niemyjski commented on #250
What is your actual connection string (I've updated that gist). If you are not on azure, you should leave out the usesll part. And if you have no password skip that too :). Can you paste the full stack trace?

[2016-09-18 01:32] RobbyHo commented on #250
![image](https://cloud.githubusercontent.com/assets/8401517/18612083/76a26bca-7d82-11e6-87d3-88d1179b63b0.png)

the redis run on my local VM(hyper-v),password is required

![image](https://cloud.githubusercontent.com/assets/8401517/18612081/53521396-7d82-11e6-9c82-c0c6bd1032d7.png)

tks!

[2016-09-18 01:35] niemyjski commented on #250
That redis connection string is fine. The error you are getting (via stack trace) is that your elastic search connection string isn't set. It's required and needs to be set to point to your elastic search instance.

[2016-09-18 01:42] RobbyHo commented on #250
But, I want to use redis storage,the elastic search connection string is required?

[2016-09-18 01:46] niemyjski commented on #250
We use Elastic Storage for persistent storage (required) and redis is optional for a distributed cache (which is required if you are going to run exceptionless (server) on multiple servers

[2016-09-18 01:56] RobbyHo commented on #250
oh~I understand finally...My exceptionless is run successfully,thanks very much!

[2016-09-21 12:54] jdtaylor91 opened #251 "Different Exceptions are appearing together in the same Stack"
We are currently seeing a case where different errors are appearing together in the same stack, meaning we are unable to mark them as fixed individually.

These exceptions are all client-side exceptions that are caught by window.onerror (in javascript), the error is then passed up to the server and we create a new exception by passing in the exception message from the client as a string, i.e.

`ne

[2016-09-21 14:10] niemyjski commented on #251
So just to follow:
1. You are not using our JavaScript client and are manually sending the javascript errors to the server for you to process. You are then wrapping this in a new .net exception object and submitting the error.

We take a look at the exception type and stack trace for generating a stack. So if you are creating a new exception instance, they will all be stacked the same as expected.

[2016-09-21 16:05] jdtaylor91 commented on #251
Thank you for the response, i wasn't aware of the manual stacking key functionality, we will look into incorporating that.

[2016-09-21 16:05] #251 closed

[2016-09-21 19:01] niemyjski commented on #251
No problem, if you have any questions please let us know. I'd recommend using our js client as it is full featured and will handle this.

[2016-09-22 16:13] niemyjski commented on #145
https://www.elastic.co/blog/performance-considerations-elasticsearch-indexing

[2016-09-22 16:15] niemyjski commented on #145
https://www.elastic.co/blog/performance-indexing-2-0

[2016-09-22 16:47] niemyjski opened #252 "Update self hosted docs"

[2016-09-22 16:48] niemyjski opened #253 "Look into why loading session events is slow."

[2016-09-23 22:31] niemyjski commented on #181
I'm going to close this to keep the issues clean. I'd like to meet up with you and help you get this pr finished up. Please send me a message and let me know when you are free.

[2016-09-23 22:31] #181 closed

[2016-09-23 22:33] niemyjski commented on #242
I'm going to close this to help keep the issues clean. If the above work arounds don't work for you please let us know. We'd also be willing to accept a pr that resolves any issues with FIPS.

[2016-09-23 22:33] #242 closed

[2016-09-26 03:01] geffzhang commented on #145
When plans to support Elasticsearch 2.x

[2016-09-26 12:16] niemyjski commented on #145
We will be skipping 2.x completely and going straight to 5.x by using external reindexing support built into 5.x. We are starting work on this process this week so we can be ready for the 5.x release and reap the many rewards of 2.x+5.x (80% faster indexing, update by query and much more).

[2016-09-27 16:45] niemyjski commented on #145
https://www.loggly.com/blog/nine-tips-configuring-elasticsearch-for-high-performance/

[2016-10-11 08:26] emejibka opened #255 "How to add screenshoot"
Hello, everyone ;)
I want to attach a screenshot of my app when i send exception to exceptionless. How i can do this?

[2016-10-11 18:29] niemyjski commented on #255
We don't support this out of the box due to security reasons and currently have no plans to support this out of the box (this could change if the reasons below change + there is greater demand for this).

We take security very seriously but also feel that sensitive data shouldn't be sent when possible. It's impossible to explicitly capture a screenshot of your running app without the possibility o

[2016-10-11 18:29] #255 closed

[2016-10-11 18:30] niemyjski commented on #255
To iterate, you'd need to create a plugin as shown above, take a screenshot and then upload it or store it on some service using .net api's inside of the plugin :)

[2016-10-13 07:39] geffzhang commented on #145
Support Elasticsearch 5.x, also supports Elasticsearch 2.x?

[2016-10-13 13:35] niemyjski commented on #145
We will be skipping 2.x and going straight to 5.x via external reindexing.

[2016-10-13 13:35] niemyjski commented on #145
We have an /elastic5 branch that we are working out of :)

[2016-10-14 21:22] crowbarsolutions commented on #230
Would love to see this, our project drop down list is getting crowded :)

Perhaps the most intuitive way of implementing this would be to make a project act as a container for multiple environments. Much like how an organization acts as a container for projects.

A possible hierarchy would look like: An organization can have many projects. Each project can have many environments.

The project drop

[2016-10-17 13:19] niemyjski commented on #229
Being able to see all events fixed in a specific version.

[2016-10-18 12:01] Ratankalwa opened #256 "Password does not reset"
The password does not reset. It is causing issues for me to even login after I have performed the move from the dev server to the production server.

it would be great help if you could help.

[2016-10-18 13:22] niemyjski commented on #256
Is this still an issue? It looks like you setup a fresh install on a production server, you'd need to ensure that you did a backup and restore and the configuration is correct before doing a password reset. Please let me know if this is still an issue.

[2016-10-18 13:22] #256 closed

[2016-10-28 08:29] yetanotherchris commented on #233
Signalr isn't getting .net core'd until April 2017 according to the roadmap, so presumably it won't be before then?

[2016-10-28 13:36] niemyjski commented on #233
We are about a little less than half way through migrating to elastic search 5 which is the biggest road block to asp.net core. We don't have a solid date but it will be after SignalR ships as we need it (or something that does web sockets really well. I'm fine with waiting at this point because every other day Microsoft changes direction on tooling (which won't be out until VS2017 is released) an

[2016-11-02 01:30] Neil-Huang opened #257 "Would I install Exceptionless at linux system with mono?"

[2016-11-02 06:24] geffzhang commented on #145
elastic5 release ,This release introduces a number of breaking changes.  https://www.elastic.co/blog/elasticsearch-5-0-0-released

[2016-11-02 13:01] niemyjski commented on #145
Yep, a whole lot of them, we just got foundatio.repositories completely upgraded and are working on exceptionless, we almost have the mappings done but we are blocked until they release a NEST-5.0-rc2 client

[2016-11-02 13:03] niemyjski commented on #257
Yes, the Exceptionless package should run without any issues. It supports PCL profile, .NET Standard 1.2 and .NET 4.5. Our old client which supported .NET 4.0 and PCL Profile ran without issue. I haven't personally tested the new one on mono but it does run really well on OSX under .NET Core :). If you run into any issues please comment on this issue and we will reopen it!

[2016-11-02 13:03] #257 closed

[2016-11-07 05:17] lanfengqi opened #258 "AppElasticConfiguration ConfigureIndexesAsync error?"
AppElasticConfiguration.ConfigureIndexesAsync() Error:
[rest.suppressed          ] /logstash Params: {index=logstash}
MapperParsingException[mapping [logevent]]; nested: MapperParsingException[Mapping definition for [id] has unsupported parameters:  [index_name : id]];

elasticsearch 2.0/2.4/5.0

[2016-11-07 19:37] niemyjski commented on #258
Did you mean to log this here: https://github.com/exceptionless/Foundatio.Repositories ? What are your steps to reproduce? The repositories master branch and 2.x package only supports elastic 1.7.5 but the 5.0 nuget package supports elastic 5.

Could you please create a new issue there and let me know everything I need to reproduce or create a pr with configuration or test that reproduces this beh

[2016-11-07 19:37] #258 closed

[2016-11-16 02:58] capqueen opened #259 "Today I receive 20000+ same summary email from exceptionless？"
Today I receive 20000+ same summary email from exceptionless, it's all about
`Summary for 2016/11/14`
I can not stop it so I stop iis.
Now how can i clear this problem? where to found the email job and to clear it?
May this is a bug or some setting wrong by myself? but other day's summary is right.

please help me,thanks.

[2016-11-16 04:49] capqueen commented on #259
I set elasticsearch config script.disable_dynamic: true yesterday.
because I found my ubuntu server hacked by someone use elasticsearch's dynamic script.
Mybe it cause this problem?

[2016-11-16 13:25] niemyjski commented on #259
Are you running jobs in process or out of process? Are you self hosting the latest release?

The way the job runs is that it emails and then immediately updates the project and increments the next send time.

You need dynamic scripting enabled for exceptionless to work. Your elasticsearch server should be locked down and not accessible outside of your network.

[2016-11-23 05:53] geffzhang commented on #145
https://www.nuget.org/packages/NEST/5.0.0-rc2  NEST-5.0-rc2  release

[2016-11-24 03:15] capqueen commented on #259
Thanks, I clear the redis cache,and enable dynamic scripting,it all right.also I locked down my el server.

[2016-11-26 15:55] niemyjski commented on #259
Thanks for the update

[2016-11-26 15:55] #259 closed

[2016-12-08 21:20] SNajm commented on #252
the latest version of Elastic Search is at 5 now.

[2016-12-08 22:36] ejsmith commented on #252
We are in the (long and painful) process of migrating our app to Elasticsearch 5. It has been a lot of work because they made a lot of breaking changes and removed features that we were using, but we are getting really close. We also took the opportunity to refactor our repositories and add a bunch of really useful features that will help us going forward.

[2016-12-08 22:42] SNajm commented on #252
I understand that... but my reference was that your documentation needs to be updated cause it is a bit confusing.
Your documentation mentions that latest as being 2.x

[2016-12-08 23:11] niemyjski commented on #252
Would you mind updating the wiki to mention 5.x instead

[2016-12-08 23:13] SNajm commented on #252
I could if you don't mind me doing that.

[2016-12-12 21:53] scottcate commented on #123
@niemyjski Did this ever get published?

[2016-12-12 21:55] niemyjski commented on #123
@scottcate nope, we are still accepting pull requests for a Java client, our api is super simple to use. Would you be interested in contributing one?

[2016-12-12 22:04] scottcate commented on #123
Probably not, a friend was asking for one. I don't have the skill set required to help.

[2016-12-12 22:06] niemyjski commented on #123
We'd really like to have one, it just comes down to resources

[2016-12-15 05:00] niemyjski commented on #145
https://docs.microsoft.com/en-us/azure/guidance/guidance-elasticsearch-tuning-data-ingestion-performance

[2016-12-15 21:07] vikpai commented on #101
did we ever find a resolution for this? I was using the swagger nuget package and when we deploy this to our dev boxes, it misses the VD and fails.

[2016-12-15 21:10] niemyjski commented on #101
@vikpai , they still haven't fixed it in swashbuckle. https://github.com/domaindrivendev/Swashbuckle/issues/305

[2016-12-15 21:36] vikpai commented on #101
Thanks! @niemyjski

[2016-12-15 21:41] vikpai commented on #101
are there any workarounds?

[2016-12-15 21:41] niemyjski commented on #101
You could try the one they posted in the issue. I don't want to apply it as it's pretty specific to owin.

[2016-12-20 11:20] geffzhang opened #260 "How to set a Project to keep a certain time Exceptionless data"
How to set a Project to keep a certain time Exceptionless data, such as a week, other data is deleted automatically, or automatically stored elsewhere

[2016-12-20 16:26] niemyjski commented on #260
Are you looking to have retention based on a specific project other than on the organization level?

[2016-12-21 00:56] geffzhang commented on #260
Do you have based on organization-level settings

[2016-12-21 02:28] geffzhang commented on #260
Find a solution ：https://github.com/exceptionless/Exceptionless/issues/139

[2016-12-21 02:28] #260 closed

[2016-12-21 14:39] niemyjski commented on #139
There is also a setting you can do to control the retention period for all projects (https://github.com/exceptionless/Exceptionless/blob/master/src/Exceptionless.Core/Settings.cs#L150) If you set a property called `MaximumRetentionDays` it will delete all data past this date.

[2016-12-27 15:37] niemyjski commented on #145
We need to work on reindexing next (dev will be upgraded to elastic 5 today or tomorrow).. The reindex will need to have an ingest pipeline which choices the right daily index.

[2016-12-27 16:01] ejsmith commented on #145
App is looking good. Tons of hard work paying off. :)

[2016-12-29 20:06] niemyjski commented on #145
https://www.elastic.co/guide/en/elasticsearch/reference/current/important-settings.html

[2016-12-29 22:31] niemyjski commented on #145
I have exceptionless up and running on elastic 5 (https://dev-app.exceptionless.io/)

Feel free to play around with it or stress test it. I only have it running on a single node (haven't even optimized that node)

I just did find an issue where I wasn't able to invite users / get users list for an org, will look into that very soon. Other than that I'm aware of no issues but I'm sure there probabl

[2016-12-30 08:42] barankaynak commented on #228
The problem is still going on.

[2016-12-30 14:38] niemyjski commented on #228
@barankaynak @muhammetsahin  Does this need to be changed to Char.ToLowerInvariant()?

[2017-01-02 06:09] niemyjski commented on #145
https://www.youtube.com/watch?v=cI-3mEUW_F4
https://sematext.com/blog/2015/11/30/running-elasticsearch-clusters-on-docker/

[2017-01-12 10:44] john-roland opened #262 "Move a project to another organization"
Hello,

Is it possible to move a project from an "organization" to another one,  even with a manual / technical action ?

[2017-01-12 13:39] niemyjski commented on #262
It's not currently possibly without writing a update-by-query elasticsearch script to update the project, tokens, web hooks, stack and events organization id property with the new value. It would be nice to have this someday, but currently there is no other way. I hope this helps.

[2017-01-12 13:39] #262 closed

[2017-01-13 09:30] davidkeaveny opened #264 "Integration with ASP.NET"
I've installed Exceptionless and Exceptionless.Web (both v4.0.1924) in an application that uses a combination of ASP.NET WebForms and MVC; the Exceptionless module was added to my web.config, and my application start-up code configures the default client, including turning on reference Ids and setting the current application version number. Everything works nicely, and exceptions appear in the por

[2017-01-17 02:59] niemyjski commented on #264
If you are using WebForms and MVC, I'd bring in the Exceptionless.Mvc package instead of the .Web package as it has an extra error handler and could be The reason you are missing the last reference id. Can you try this and let me know. If you still aren't seeing the reference id, could you please create a small sample that can reproduce it and I'll take a look at this under the debugger.

We rethh

[2017-01-17 06:08] kiquenet commented on #264
have you Code , startup and application_error? and loggingconfiguration for
ent lib?

El 13/01/2017 10:30, "David Keaveny" <notifications@github.com> escribió:

[2017-01-17 14:38] niemyjski commented on #264
We just wire up to the asp.net exception handlers and life cycle events (Application Error and more). We don't have anything specific for enterprise library.  Would you mind looking into this further for us?

[2017-01-18 16:44] niemyjski commented on #264
Were you able to figure out what was going on with ent lib?

[2017-01-22 23:11] davidkeaveny commented on #264
I'd forgotten how much of a pain EntLib is to configure. I wasn't able to reproduce with a clean solution, and TBH, I would rather see the back of it anyway. Exceptionless is making EntLib's exception handling block fairly superfluous anyway when it comes to unhandled errors, so I'm not inclined to put any more time into investigating further.

[2017-01-22 23:11] #264 closed

[2017-01-23 16:44] niemyjski commented on #145
We've deployed this into production, we'll create a release soon once we have more data

[2017-01-24 14:10] john-roland commented on #229
Hello Blake,

some few requests regarding dashboards..

Feature request: have the possibility to add an new entry in the left side menu for our own event type, or that exceptionless automatically detect it. in my case it's a "metric" type.

Feature request: on stack dashboard, display a pie chart of tags repartition on the events.

Feature request: on project & stack dashboard, display tags as fil

[2017-01-24 14:41] niemyjski commented on #229
Those are solid suggestions and I can see us doing those :)

[2017-01-24 19:31] niemyjski commented on #229
If there is anything else you can think of let us know. We need all the help and feedback we can get! P.S., It's on our road map too :) https://exceptionless.com/2017-exceptionless-feature-functionality-and-enhancement-roadmap/

[2017-01-25 08:35] john-roland commented on #229
ok, I will... actually I have a lot of ideas and needs  ;)
I now use ExceptionLess at a very large scale (more than 1 million events / week)..

Tell me how is the best way to submit this to you

[2017-01-26 04:24] niemyjski commented on #229
GitHub issues is the best way so we can track and have a discussion. we are also on slack (http://slack.exceptionless.com)! I'd be more than happy to meet up with you as well and talk every your needs and pain points.

P.S., how's the last 4 days been in terms of dashboard performance :)?

[2017-01-26 15:33] EricZimmerman opened #1279 "Add means to mark events, errors, etc as handled/fixed or delete them from details view"
When drilled into a particular event or error, it would be nice to be able to mark that item in the same way when in the "grid" overview.

Putting the buttons in the upper right with the other nav buttons seems like a good place for them

[2017-01-27 14:19] john-roland commented on #229
ok, i will talk with my collegues to collect their feedback and post something here

It would be great to meet you, but if you remember me from .nettiers, I'm in France, oups Geneva (switzerland) now :)

[2017-01-27 14:37] niemyjski commented on #229
Yeah, I remember the legendary John Roland :). We could figure out a time that works (I meet with people all over the world :)). Just send an in app message or message on slack and we'll setup a time!

[2017-01-31 15:24] #228 closed

[2017-01-31 15:28] #145 closed

[2017-02-01 15:10] niemyjski opened #267 "Ensure user accounts are created with lower cased emails"
Emails might be created with mix case email addresses, which results in a user not being able to sign in as the email address cannot be looked up.

[2017-02-02 23:00] davidkeaveny commented on #229
Custom dashboards would the the next killer feature for me (after environments). I want to be able to report on the number of exceptions logged over time by application (being able to break that down into new and unique is also good), so that both management and the development team can see the overall trend, whether bug killing sessions are delivering measurable results, whether our codebase is g

[2017-02-03 00:06] davidkeaveny commented on #177
HipChat integration would be useful for certain critical events, such as a new type of error. As long as  you can just the dial on noise vs signal then you're OK.

[2017-02-03 00:24] ejsmith commented on #177
Yeah we absolutely have to do a good job with our signal to noise ratio

[2017-02-06 09:00] wsrf16 opened #268 "Maybe UI shows by mistake"
![image](https://cloud.githubusercontent.com/assets/11867768/22639641/f02b82e4-ec89-11e6-8f27-76bd856c6447.png)
![image](https://cloud.githubusercontent.com/assets/11867768/22639681/30118390-ec8a-11e6-86d1-a0b8d6c8f170.png)
![image](https://cloud.githubusercontent.com/assets/11867768/22640184/7f7cdf90-ec8c-11e6-8542-11d2349ffb77.png)

It show me "Total=3".Actually I have deleted it.It is empty aft

[2017-02-06 12:07] caesay opened #269 "Constructing specific elastic query causes out-of-memory"
Hi,

I ran into a case where exceptionless was behaving badly on my production server - it would randomly after requesting certain pages spike up to 5GB's of memory usage and max out a single CPU core. (the page would never end up getting displayed). Once one of these bad pages has been hit, exceptionless refuses to respond again until the app pool process has been restarted.

Initially I thought

[2017-02-06 16:13] niemyjski commented on #268
Can you reproduce this pretty consistently? Is this happening on a local hosted instance or on our hosted service? If it's happening locally do you have web sockets enabled (in iis config).  Items are queued for deletion and notifications are delayed by a second or two, so there will be some lag here. Can you please let me know the best way to reproduce this consistently.

[2017-02-06 16:45] niemyjski commented on #269
I made some improvements to this in https://github.com/exceptionless/Exceptionless/commit/b397a5210181b10404e9d7bf927254950dc90d1f but it's still not fixed completely. The issue happens because `MaximumEventPostSize` was unbounded and so very large event posts could be submitted. We will eventually move our event parsing code to use stream based processing and that should fix this issue for good :

[2017-02-06 16:45] #269 closed

[2017-02-06 19:59] #267 closed

[2017-02-06 19:59] #253 closed

[2017-02-06 19:59] niemyjski commented on #252
The docs have been updated

[2017-02-06 19:59] #252 closed

[2017-02-07 01:30] wsrf16 commented on #268
It happened on local hosted instance.The fake messages has disappeared in this morning.It seems to work normally from now on.Sorry~I can not reproduce it now.

[2017-02-07 02:15] niemyjski commented on #268
@wsrf16 that's okay, if you see this behavior again please let us know and I'll help troubleshooting it with you. We'd love to hear any feedback that you may have!

[2017-02-07 02:15] #268 closed

[2017-02-07 02:25] wsrf16 commented on #268
It happened on local hosted instance.The fake messages has disappeared after I closed the bowser.It seems to work normally from now on.Sorry~I can not reproduce it now.
I wonder where the summary information of log message be saved(eg. the number of total,unique,new,per hour).Is it cached in local cookies?This messages should be deleted successfully and I have could not found them in elasticsearch

[2017-02-07 02:26] niemyjski commented on #268
nope, it's not cached locally at all. We use web sockets / long polling to update it (maybe the connection failed or was reconnecting while the data had changed). If refreshing the page fixed it I'm betting this was the cause. Do you remember if there were any errors in your console (if you looked)?

[2017-02-07 02:53] niemyjski opened #270 "Include dedup total as total number of events"
We had reverted the previous commits to show the dedup total. Now that we are running on new indexes we can show this now :)

[2017-02-07 02:54] niemyjski commented on #247
I'm going to close this until we decide we are doing this.

[2017-02-07 02:54] #247 closed

[2017-02-07 12:55] jakejgordon commented on #177
The biggest thing I've noticed so far in the email notifications is that if there is a new exception I'd rather have the full stack trace in the email so I can quickly decide whether I need to go in and investigate or whether I should ignore it (for now). Of course the "new error" part is the hard part but I don't have any reason to think you'd mess that up :smile:

[2017-02-07 13:00] jakejgordon opened #271 "Improved Aggregation of Errors"
As a developer who is trying to see what distinct errors have recently happened in my application
I can be sure that each error in the Most Frequent panel really represents the same error
So that I don't accidentally ignore occurrences of different errors

See the below screenshot which has 43 "HttpException" errors that are actually mostly different errors under the covers:
![image](https://cloud

[2017-02-07 14:53] niemyjski commented on #177
1. Add snooze actions to stack
2. make it easy to trigger snooze actions from emails
3. Add stack trace to email.
4. Keep track of emails and stop spamming emails. It's crazy. We gotta figure out how much were sending and stop sending streams of emails. Emails should be important!

[2017-02-07 14:54] niemyjski commented on #177
We need to look at our own email inbox and see how we can ditch 90% of our emails.

[2017-02-07 15:41] niemyjski commented on #271
Are all of these being re thrown from an error handler with a new message? Do they all have the same stack trace? If they all have the same exact stack trace I'm not sure there is much we can do other then provide a custom stacking key?

[2017-02-07 22:05] edgarecayce opened #272 "Need notification that messages are being hidden to reduce noise"
I was doing some testing where I would log a bunch of debug messages.  I would see them show up in my Recent list, and then they would all disappear.  Thought I was going crazy.  Turns out they were being hidden by the Reduce Noise setting.

I think this is all good, but it would help to 1) give a callout when that is happening to tell user what is up and how to configure 2) allow client IP exclus

[2017-02-08 01:58] jakejgordon commented on #271
@niemyjski Good call -- this is probably the case. I'll try to check it out in the next few days/week and come back with more information.

[2017-02-08 04:02] niemyjski commented on #270
https://github.com/exceptionless/Exceptionless/commit/93b0f39e7bba29b5104ec2129f5047963045fb70

https://github.com/exceptionless/Exceptionless.UI/commit/5e447cf541af5ec09d77f9691d3e697c9808afd6

[2017-02-09 01:01] niemyjski commented on #270
This has been fixed :)

[2017-02-09 01:01] #270 closed

[2017-02-09 12:41] Boggin commented on #64
@niemyjski "move to elastic 5.x" :heavy_check_mark:

[2017-02-10 17:37] niemyjski commented on #64
Still some work todo but getting closer

[2017-02-14 10:32] john-roland opened #275 "Ability to opt out of archiving post data"
Hello,

We have a lot of space consumed on our EL server (self hosted), and the space is not released when we delete the project data.
After investigation, we found that there is a lot of folders and json files in the App_Data\storage folder.
Can you explain a bit what is used for ( the year/month/day folder hierarchy seems obvious, is it cache or something for stacks/events ?). Can we clean it up

[2017-02-14 16:31] niemyjski commented on #275
It's safe to delete the whole folder, we use it as archival so if we lose all backups we can replay all those events and recreate all events. We probably should look into adding a setting for this to discard them by default.

[2017-02-14 16:36] john-roland commented on #275
ok, get it.
yes, on our side we will setup a job, cause, it's taking  a huge disk space (more than 5 millions json files there)

[2017-02-14 16:40] niemyjski commented on #275
I'll make sure we add a setting and set it to discard by default.

[2017-02-14 17:08] john-roland opened #276 "Features request"
Hello!

Exceptionless is awesome, but here are some features we still miss (sorry for the lack of details) :

# Search #
* Have an advanced search screen, with fields to select tags, users, etc.
* Have the url been modified on search results, so we can share or bookmark it
* nice to have: keep a search history
* nice to have: save a search to reuse it later
* nice to have: add a saved filter as a

[2017-02-14 17:18] niemyjski commented on #276
Thank you so much for posting this, this is great and helps us :).  From looking over this list many of these are things we already want do do with search and and dashboards. Would you like me to break down the things you can do currently in a a section or would you like to meet up and go over these (greatly appreciated). I do have some questions on some of these items.

[2017-02-15 03:17] niemyjski opened #277 "Ensure error event model is not returned from the api"
We have error copyto mappings for that seem to be returned down to the client

[2017-02-16 17:49] caesay commented on #70
I think this should be closed - an issue tracker is useful because of its richness and focus, integration with source control, ticket workflow and automatic elevation to other users for testing / uat etc. There's no way to duplicate or do it well here. It would be much more useful if exceptionless could elevate an issue stack to an existing tracker integrated with source control (i believe it alre

[2017-02-16 17:57] caesay commented on #230
This can be done with separate projects as you mentioned - but how is having environments with separate api keys be different to having separate projects? how would that be visually represented in the UI, would all of the environments messages be combined into one project that you then need to filter?

We do this with tags - enter (for instance "tag:prod" into the search bar). Is searching by tags

[2017-02-16 18:00] niemyjski commented on #70
We already support this with zappier but it would be nice to have some metadata on the stack or maybe even a notes section that could be used to document whose working on it / what's going on.

[2017-02-16 18:00] niemyjski commented on #70
I want to stay away from being a full issue tracker, there are services that just do that and I don't think we should ever try to compete on that, we should focus on one thing and do it well.

[2017-02-16 18:02] niemyjski commented on #230
We need to figure this out and I'd like it sooner than later. I think having some kind of environments dropdown or autocompletion in the search bar would be good. Having multiple projects (live and not live) is okay but when you have hundreds of projects it's a pain.. Also you might want to track things by specific environment / rack.   Currently tags or different projects work the best, but with

[2017-02-16 18:08] twomm commented on #70
For smaller teams/projects simply assigning an error to a user might already be a great help. No need for a full blown separate issue tracker for those. So adding something simple here would be a nice addition.

[2017-02-16 18:14] caesay commented on #70
@twomm I can see where you are coming from, but if you use Bitbucket, Github, TFS, VSO, Gitlab, Sourceforge, codeplex, or almost anything other than just a simple git server you already get issue tracking built in and integrated with your commits - I just didn't think that the wheel needed to get re-invented over here.

[2017-02-16 18:18] niemyjski commented on #70
There needs to be work done to ensure that if you are using one of those, it's a 1 click setup to integrate with it. But what I think also needs to happen is you can visually see that the item is linked to issue tracker. And you might want to see what exceptions or stacks are assigned. You can do this today with reference links and a very creative `_missing_:references` (I think that's the query)

[2017-02-16 18:30] tekmaven commented on #230
I'm really a fan of a simple Live/Test switch, which is how Stripe works.  We have several test environments, but I really care about separating Live errors from Test errors.  Here is a screenshot of the stripe UI, see the Live/Test switch on the top left:

![image](https://cloud.githubusercontent.com/assets/349445/23034991/b75fbfc4-f44b-11e6-9327-668560ad7508.png)

There are several potential use

[2017-02-16 18:33] niemyjski commented on #230
Yeah, I really like how stripe does it as well and would like to do something like this. Would you expect any thing different for test environments like lack of notifications etc?

[2017-02-16 18:36] tekmaven commented on #230
I think a first iteration could just simply focus on the project dropdown and adding a switcher.  If you get adoption of the feature, you could keep building on top of the feature, like using it with in the context of notifications.

[2017-02-16 18:42] niemyjski commented on #230
Yeah, would definitely do baby steps.

[2017-02-16 19:35] twomm commented on #70
@caesay Sure, point is, if you simply do not need one of those "bigger" issue trackers, staying within the error tracker with just a bit of extra information can speed up the workflow. One system less to deal with. At some point, that simply is not enough anymore, of course.

[2017-02-17 10:19] john-roland opened #279 "help on self hosting upgrade from 3.4 to 4.0"
Hello guys,

I'm currently upgrading, and i've got a problem with the latest kibana script:

POST _reindex
{
"source": {
  "remote": {
    "host": "http://10.0.0.9:9200"
  },
  "index": "events-v1-*",
  "size": 200
},
"dest": {
  "index": "events-v1-error"
},
"script": {
  "lang": "painless",
  "inline": "ctx._index = 'events-v1-' + DateTimeFormatter.ofPattern('yyyy.MM.dd').format(OffsetDateTime.p

[2017-02-17 10:42] caesay commented on #245
@niemyjski I can probably do this change if it'd help, seems like something simple to get my feet wet. Should the email times be specified at a user level or at a project/organization level? Seems like what the op really wants is for everyone on the team to receive a summary just before the work day starts for example in which case it doesn't really need to be a user setting.

[2017-02-17 10:57] john-roland commented on #276
hello,
yes, we can meet up. This week has been too busy, maybe next one !

[2017-02-20 08:56] niemyjski commented on #245
@caesay I think this needs to be merged into https://github.com/exceptionless/Exceptionless/issues/177. We need to do a round of work and have this configurable and smarter. I think we'd start by having the Olsen time on the project or org (but what about multiple users in different timezones as part of a single org?)

I'm going to merge this into #177 . If you want we can talk on slack, there are

[2017-02-20 08:56] #245 closed

[2017-02-20 08:59] niemyjski commented on #279
@john-roland Did you create the event index template (This step **Create Event Template so daily indexes can be created with the correct mappings:**)

[2017-02-20 09:01] niemyjski commented on #279
@john-roland Did you create the event index template (This step **Create Event Template so daily indexes can be created with the correct mappings:**)

https://github.com/exceptionless/Exceptionless/wiki/Upgrading

[code]

[2017-02-20 09:11] niemyjski opened #280 "Verify you can create events index without mapper size plugin"
I got a report of the following error when self hosting:

[code]

[2017-02-20 09:11] niemyjski commented on #280
The work around I believe for now is to install the following elasticsearch plugin: https://www.elastic.co/guide/en/elasticsearch/plugins/current/mapper-size.html

[2017-02-20 09:13] niemyjski commented on #276
Yes, just let me know when works for you or send me a message on slack (preferred)

[2017-02-20 09:39] caesay commented on #280
I've added details about the mapper-size plugin to the self-hosting wiki for production deployments

[2017-02-20 09:41] niemyjski commented on #280
Thanks!

[2017-02-20 09:48] john-roland commented on #279
yes, and I've got this output :

{
  "acknowledged": true
}

[2017-02-20 09:52] john-roland commented on #279
and when i execute the next script, the output is:

{
  "took": 12316,
  "timed_out": false,
  "total": 4921941,
  "updated": 0,
  "created": 0,
  "deleted": 0,
  "batches": 1,
  "version_conflicts": 0,
  "noops": 0,
  "retries": {
    "bulk": 0,
    "search": 0
  },
  "throttled_millis": 0,
  "requests_per_second": -1,
  "throttled_until_millis": 0,
  "failures": [
    {
      "index": "events-v1

[2017-02-20 12:14] yetanotherchris commented on #280
Hi, it's worth noting this bug happens on the AWS Elasticsearch service (version 5).

Annoyingly, you can't add plugins to their elasticsearch service.

The exception is:

[code]

[2017-02-20 15:26] jdtaylor91 commented on #279
I am also currently upgrading to use Exceptionless 4.0 and the last Kibana script is returning the same results as john-roland.

All previous scripts worked, it's just the last script that outputs thousands of "failures" of type "index_not_found_exception"

Is there an extra step that is required before this last script?

[2017-02-20 16:43] jdtaylor91 commented on #279
I think something is wrong with the script for step "i Create Event Template so daily indexes can be created with the correct mappings:"

It returns { "acknowledged": true }, but i am able to run it many times whereas if i try to run either of the others many times they respond with "index_already_exists_exception", which implies that the events index hasn't been created successfully.

Also, runni

[2017-02-20 17:19] niemyjski commented on #279
What version of elaticsearch are you using? There was a bug in some versions of 5.x where you couldn't reindex from 1.7.5, into 5.x. We used 5.1.2 and I think it's fixed in 5.2.1 as well (are you using 5.2.0) by any chance?

Also, Do you have the following in your elasticsearch.yml? https://github.com/exceptionless/Exceptionless/blob/master/build/elasticsearch.prod.yml#L4 If so can you remove it?

[2017-02-20 17:25] niemyjski commented on #279
I've updated the docs with (https://github.com/exceptionless/Exceptionless/wiki/Upgrading#upgrading-from-v3-to-v4) more info. Can you please let me know how this goes.

[2017-02-20 17:26] john-roland commented on #279
I'm running elasticsearch 5.1.2

my yml is:

cluster.name: exceptionless
action.destructive_requires_name: false
action.auto_create_index: .security,.monitoring*,.watches,.triggered_watches,.watcher-history*
bootstrap.memory_lock: true
plugin.mandatory: mapper-size
http.port: 9400
reindex.remote.whitelist: 192.168.5.11:9200

[2017-02-20 17:28] niemyjski commented on #279
Comment out the following line:

[code]

I forgot to put that in the docs :\, Elasticsearch has an open issue in there to allow index templates to be allowed.

[2017-02-20 17:31] john-roland commented on #279
ok, i'm testing right now, the reindex script is running now... i cannot wait till it ends, sadly, but I'll tell you tomorrow.
but it looks on good tracks, thank you very much

[2017-02-20 17:33] jdtaylor91 commented on #279
I'm also running elasticsearch 5.1.2.

Commenting out that line has worked for me, thank you.

[2017-02-20 17:36] niemyjski commented on #279
Awesome, I'm half wondering if we should just remove that line from our configs, but it's really useful to have in there (ensures indexes aren't auto created, like I've seen an alias being created as an alias in test code)

[2017-02-20 17:37] niemyjski commented on #279
I'm going to close this for now, if you run into any issues, please let me know.

[2017-02-20 17:37] #279 closed

[2017-02-21 09:44] john-roland commented on #279
yes, on my side i get the following error:

of course, Elasticsearch 1.7.5 and 5.1.2 are both running. maybe it's because i've got too much events ?
I also see that ElasticSearch 5.1.2 is taking more than 2 gb in RAM.. and a lot of CPU, even after this message is displayed.. maybe the script is still running ?

[2017-02-21 09:49] jdtaylor91 commented on #279
@john-roland, I also had this issue, the script should still be running though.

If you navigate to the logs\exceptionless-v4.log file within elasticsearch-5.1.2 you should be able to see logs for each daily index that it's creating.

I found that it took ~30 minutes to reindex 400,000 events, based on your above post if you have "4921941" then it may take a good few hours for you.

[2017-02-21 09:59] john-roland commented on #279
thanks James, I'll be patient so..

[2017-02-21 09:59] jdtaylor91 commented on #279
I also had an issue with a java.net.SocketTimeoutException being thrown during the reindexing, this has then forced me to do it in batches using a range query.

I found the following video that @niemyjski did very useful to help work out what to do here

https://www.liveedu.tv/niemyjski/videos/k4JO7-exceptionless-weekly-demo-1-16-17

This is the script i've been using to do it in batches, in this

[2017-02-21 11:27] jdtaylor91 opened #281 "Exceptionless v4 RAM usage"
I've just upgraded our self hosted Exceptionless instance to version 4, we're hosting this on a windows machine. The elasticsearch 5.1.2 service is now constantly using 2.5GB of RAM whereas previously it was only using 500MB of RAM.

Is this increase in RAM expected or is there additional configuration that is required to bring the RAM usage down?

Thanks,
James

[2017-02-21 17:58] niemyjski commented on #281
This is expected, you can think of elasticsearch in terms of requirements much like sql server, it needs ram and disk io to do what it does best. By default you should give it a little less than half of the systems ram, you can of course change this behavior (see docs below). Please see the following:

https://www.elastic.co/guide/en/elasticsearch/guide/current/_limiting_memory_usage.html
https://

[2017-02-21 17:58] #281 closed

[2017-02-21 17:58] niemyjski commented on #281
Please let us know if you have any questions.

[2017-02-21 18:06] niemyjski commented on #279
@john-roland plugins run out of process now from elasticsearch so you'll need to setup kibana to run as a service on windows if you want it to run (it's a node app). I used the `sc create ..\.....\kibana.bat`. The ram usage is to be expected (https://github.com/exceptionless/Exceptionless/issues/281), by default it will try and allocate half of the available ram (this is configurable). I'd try lau

[2017-02-21 18:14] niemyjski commented on #280
I need to test this more but I have it working locally without mapper size plugin. I want to note here that there are some disadvantages of not running this plugin (I know you can't, but others reading this should know....). The main disadvantage is you lose the ability to see the average size of events and query by event size. This is important because if you change your maxeventpostsize property

[2017-02-22 01:16] #280 closed

[2017-02-22 08:46] jdtaylor91 commented on #281
Thanks, those links have helped, i've now configured it to use less memory.

[2017-02-22 18:19] niemyjski commented on #280
I'll be pushing a new release soon once. We have a queue processing issue we've been tracking down and I think I just fixed it.

[2017-02-22 18:23] niemyjski commented on #279
Were you able to get everything imported?

[2017-02-23 15:21] MihaMarkic opened #282 "OnShutdown in aspnetcore"
I'm implementing ApplicationStopped in aspnetcore project like this:
`applicationLifetime.ApplicationStopped.Register(() =>  OnShutdown(sp));`
In OnShutdown I'm trying to send a message through exceptionless
`ExceptionlessClient.Default.SubmitLog("Shutdown");`
, but it says it is disposed. I guess you dispose it right before my code.
Using latest Exceptionless.AspNetCore.

[2017-02-23 15:23] MihaMarkic commented on #282
I guess using ApplicationStopping is the proper way to go.

[2017-02-23 15:38] caesay commented on #282
Use `ApplicationStopping` as you said, and also you might want to synchronously process the event queue:

    ExceptionlessClient.Default.ProcessQueue();

Exceptionless processes messages in the background so if your app shuts down before they are flushed I believe they could be lost.

[2017-02-23 18:29] niemyjski commented on #282
https://github.com/exceptionless/Exceptionless.Net/blob/master/src/Platforms/Exceptionless.AspNetCore/ExceptionlessExtensions.cs

We already call process queue on the onstopping event. You may need to wire up your handler before ours to do you'd log message can you try this and let me know

[2017-02-24 07:58] john-roland commented on #279
yes, it's ok thanks

[2017-02-27 15:16] niemyjski opened #283 "Swagger Event Api docs isn't showing the model"
We need to look into this and possibly file a bug as the event's end point isn't returning a sample json model for events.

[2017-03-15 13:32] niemyjski commented on #280
4.0.1 has been released https://github.com/exceptionless/Exceptionless/releases/tag/v4.0.1

[2017-03-15 22:12] laughinggoose commented on #218
I'm interested in working on this. Would the desired outcome be to just compare the ES configuration to the one that's in the setup or just look at specific configuration keys?

[2017-03-16 16:47] niemyjski commented on #218
With 4.0.1 we no longer require plugins and no configuration is required out of the box. I do think it would be good to maybe use the nest api and ping the servers or something to see if it's responding.

[2017-03-17 14:33] niemyjski commented on #282
Did wiring up your handler before calling UseExceptionless() fix this issue? I'm going to close this but if you are still having this issue please let me know.

[2017-03-17 14:33] #282 closed

[2017-03-18 03:35] laughinggoose commented on #218
I think that's already happening here:
https://github.com/exceptionless/Exceptionless/blob/master/src/Exceptionless.Core/Utility/SystemHealthChecker.cs#L45

I'm not sure what the nest api is though.

[2017-03-18 17:10] niemyjski commented on #218
I think we should be good now, this issue should be closed. Nest is the name of the API for talking to elasticsearch in .NET :) Are you seeing issue where the status page doesn't reflect the status of elasticsearch?

[2017-03-18 17:10] #218 closed

[2017-03-19 02:01] laughinggoose opened #285 "Possible JobResult error in EventPostsJob"
I was looking through EventPostsJob and saw this: https://github.com/exceptionless/Exceptionless/blob/master/src/Exceptionless.Core/Jobs/EventPostsJob.cs#L85

Shouldn't this be returning `JobResult.FailedWithMessage`?

[2017-03-21 19:17] niemyjski commented on #285
@laughinggoose there could be an argument for both, we thought that we should just return success as the message as it doesn't need any work done as the project no longer exists, so it's the same as if we processed it.

Do you think it would be better to have a failure message for when it can't be loaded like this? Looking t our others we seem to lean towards a failure message

[2017-03-22 17:45] brunomlopes opened #286 "Add names to api keys"
For each project we have, we usually have a couple of api keys we create, for each large component.
That way, if we need to someday replace the key, we don't need to do it on all the project parts.

But currently API keys are just random strings, and there's no easy way to map keys to "components".

A very simple solution to this would be to be able to "name" keys. It would be a plain text field,

[2017-03-22 18:24] ejsmith commented on #286
Yeah, that seems like a very reasonable request. Would you like some help in submitting a pull request for this feature?

[2017-03-22 19:30] brunomlopes commented on #286
Thanks for the quick feedback.
I'll be honest, at least for a couple of months I don't think I've got the time to dig into it.

[2017-03-25 04:23] laughinggoose commented on #285
Based on your explanation it sounds like Success works! I just brought it up for the reason in your second paragraph - it seemed to not match the pattern.

[2017-03-27 02:24] ZhiqiangTao opened #288 "Can I use the latest Exceptionless with the 2.0+ ES?"
it's good for us that we can use exceptionless with 5.0+ES, but with some special reason, I have to use 2.0+ es, so does it support?

[2017-03-27 02:29] niemyjski commented on #288
It might work and it's worth a try to see, but I doubt it will work. We only support 5.x and haven't tried 2.x as we were skipping the release.

[2017-03-27 02:55] ZhiqiangTao commented on #288
thanks for your reply

[2017-03-27 02:55] #288 closed

[2017-03-27 13:32] niemyjski commented on #275
This has been merged into master and will go into the next minor release! Thanks @laughinggoose

If you need this sooner than later, we do have a ci feed you can pull the latest build from on appveyor just let me know if you need any assistance.

[2017-03-27 13:32] #275 closed

[2017-03-27 13:33] niemyjski commented on #286
I think this would be really nice to have an pretty simple to do, I think all we'd need to do is update the token model if it doesn't already have notes (I think it does) and ensure the patch operation allows notes to be updated. Then just update the UI. I really think everything server side is done already.

[2017-03-28 14:59] niemyjski commented on #177
For error emails we should have the link open to the stack trace tab for quick viewing as well as add the stack trace to the emails as previously noted.

[2017-03-30 10:31] edwardmeng opened #290 "Cannot send email using the 465 smtp port."
According to the document of microsoft, the System.Net.Mail cannot send email message through 465 port(https://blogs.msdn.microsoft.com/webdav_101/2008/06/02/system-net-mail-with-ssl-to-authenticate-against-port-465/).
But we want to use the tencent exmail account which have to use 465 port, so the mail sender component should be replaced another third part solution instead of System.Net.Mail.

[2017-03-30 14:19] niemyjski commented on #290
We would be more than happy to accept a pull request for this functionality using the following library (https://github.com/jstedfast/MailKit) which should support implicit and explicit ssl (I wasn't aware of this limitation).

You should just have to update the following class: https://github.com/exceptionless/Exceptionless/blob/master/src/Exceptionless.Core/Mail/SmtpMailSender.cs and verify that

[2017-03-30 16:14] jakejgordon commented on #271
This issue was definitely on my end as I was rethrowing all exceptions and losing the inner exception. :)  Closing!

[2017-03-30 16:14] #271 closed

[2017-04-04 11:22] caesay opened #1280 "Live vs. static feeds for events"
Issue
-----
There should be a differentiation between a live feed and a static feed. A static feed would be anchored at a specific element id so new elements would not shift the list.

For instance, currently the only mode is live, lets say you're on page 5 of an events view, events are still piling in, but you might want to be looking at that specific page. You shouldn't need to follow the events

[2017-04-04 11:41] caesay opened #1281 "Navigating through the event pages should persist location to URL"
This sits on the back of exceptionless/Exceptionless#1280, once that is complete we can look at this:

The current view of events should be entirely represented in the URL (search string, page number, anchor element etc). The reason why this is important / useful is being able to send a link to a colleague and have them be looking at the same page as you instead of needing to walk them through the

[2017-04-08 02:50] SongSong001 opened #295 "verify mail"
Hello, I use the latest version of Exceptionless and Es is 5.2.1, configuration is successful, can receive the log, can also receive a validation email, but from the mailbox that connect back to the local site, enter the website, but still did not verify the state of the mailbox. Is there any way?

[2017-04-08 13:27] caesay commented on #295
I'm assuming what you mean is that when you click the link in the "confirm email" message, it doesn't do anything?

Your exceptionless URL might not be correct in the configuration. After you click the link in the email you should get redirected to your account settings page, if you don't get redirected there it means the URL was wrong. If you are using url-rewriting, it should look like this insi

[2017-04-08 15:39] niemyjski commented on #295
I think it has to do with the missing hashbang at the end of the URL. We need to get a release out with this fixed

[2017-04-13 18:56] niemyjski commented on #295
I'm closing this as it's fixed in master, we just need to get a minor release out.

[2017-04-13 18:56] #295 closed

[2017-04-13 18:57] #285 closed

[2017-04-13 18:58] niemyjski commented on #272
This is some great feedback, sorry I didn't reply sooner, I just saw this issue. We should show a banner in the app letting them know this is occurring :)

[2017-04-13 18:59] niemyjski commented on #272
I'm merging this into #172

[2017-04-13 18:59] #272 closed

[2017-04-13 19:04] niemyjski commented on #186
I'm merging this into #177 and we'll handle this scenario :)

[2017-04-13 19:04] #186 closed

[2017-04-13 19:06] niemyjski commented on #229
We are starting on #177, we feel this is needed first

[2017-04-13 21:44] niemyjski commented on #290
This has been merged into master! If all goes well, we'll be pushing a release out very soon. Thanks again!

[2017-04-13 21:44] #290 closed

[2017-04-14 14:12] niemyjski commented on #177
Here is what our current thought process is for working notifications starting today (finally).

- [ ] We update our email templates and make them easier to edit and add content.
   - [ ] We are thinking about using https://mjml.io or (https://github.com/leemunroe/responsive-html-email-template combined with https://putsmail.com/inliner) to quickly generate valid markup from simple html.
   - [ ]

[2017-04-19 12:01] ngarnier commented on #177
Hey @niemyjski, seems like you decided to go with FFE. I'd really love to know more about what made you go for this framework rather than MJML 🙂 .

Cheers!

[2017-04-19 12:38] niemyjski commented on #177
@ngarnier I think both FFE and MJML were in a close running and have a large community base and both great solutions. We went with FFE because we felt it was a bit cleaner syntax (with inky) overall and more aligned with what we are using (lots of people using handlebars already with zurb, which we are going to use server side to do a second pass on the template). It felt like it had less of a lea

[2017-04-19 13:04] ngarnier commented on #177
Thanks a lot for the feedback @niemyjski!

Regarding partials, it's done with [mj-include](https://mjml.io/documentation/#mj-include). If you're talking about templating languages, it's true we prefer not to implement our own but rather enable users to use the one they want.

About React, we're actually dropping it in the next version (see the [MJML 4 announcement](https://medium.com/mjml-making-r

[2017-04-19 13:13] niemyjski commented on #177
Thanks for the update and I'll follow the project and v4. For us, having our server side stuff in .net, we'd have to prerender the templates or rewrite our mail job to be a node app (doable but a pain as we'd have to hook into our queues). So we wouldn't get the perf benefits of vnext, but it does sound like it's going to make your lives easier and less of a hack transforming the html :).

One of

[2017-04-19 14:23] ngarnier commented on #177
Oh yes you're right about having to run your own node app. Another option would be to use the [MJML API](https://mjml.io/api/documentation/) but it does add a dependency to your email system.

Regarding the thrive examples, I see. They were meant to illustrate the different advancement steps of the email for a tutorial rather than how to use partials, but it makes sense that it might have been con

[2017-04-19 19:11] niemyjski commented on #177
We need to add rules for overage emails so you can opt out of them.

[2017-04-20 22:28] niemyjski commented on #136
@kaiukdevelopment I wanted to let you know that this is currently being implemented in #177 and rolled soon :)

[2017-04-24 17:45] cmjacobs commented on #269
Just out of curiosity, if we know that we're not going to handling a lot of events but occasionally need to receive a large post (e.g., uploading a large log file), how much harm would come from increasing `MaximumEventPostSize` to a few MB (maybe as far as 10)

[2017-04-24 18:06] niemyjski commented on #269
@cmjacobs It all depends on your server's available memory. Some work needs to be done on our end to enable the scenario where we can deserialize and process a stream of events. Currently events can be really compressed and when it's decompressed you can get out of memory errors. I'd recommend updating the setting and try it. It shouldn't be an issue

[2017-04-24 19:30] cmjacobs commented on #269
@niemyjski I'll give it a shot. Thanks for the quick reply.

[2017-04-27 15:30] niemyjski opened #1282 "Automatically combine multiple project (environments) into a sub menu"
It would be good to have
- [ ] Have a dynamic width so long project names work in the dropdowns (or truncate them).
- [ ] If you name projects with the same prefix and put environments as the suffix, we could nest these into a child menu. This would really cut down on the noise  of the menu

[2017-04-28 14:19] niemyjski opened #1283 "Ability to pass in a search query string via the url"

[2017-05-02 21:53] #286 closed

[2017-05-02 21:56] niemyjski commented on #286
This change will be deployed shortly :)

[2017-05-02 21:57] niemyjski commented on #283
I noticed that patch with delta also shows up weird

[2017-05-03 09:05] brunomlopes commented on #286
@niemyjski thanks :)

[2017-05-04 12:17] niemyjski commented on #177
We should also look into something like https://image-charts.com for awesome charts in emails

[2017-05-19 06:59] MihaMarkic opened #301 "Odd filter behaviour"
Consider this text:

If I search using "night" then I won't get any result. I have to search by "night," instead.

[2017-05-19 10:52] zhouyongtao opened #302 "Supported Elasticsearch 5.4 ?"
Supported Elasticsearch 5.4 ?

[2017-05-19 13:00] niemyjski commented on #302
Yes, Any 5.x release will work with the current version

[2017-05-19 13:00] niemyjski commented on #302
Are you seeing an issue on 5.4?

[2017-05-19 13:01] niemyjski commented on #301
I'll take a look, probably has to do with our analyzer settings not splitting on punctuation. @ejsmith

[2017-05-22 13:18] zhouyongtao commented on #302
i use es5.4 version, have something problem
2017-05-22 20:41:16.9729   11 ERROR ElasticQueryParserConfiguration Original: (404 - WebException) The remote server returned an error: (404) Not Found.
Server: (404) Type: index_not_found_exception Reason: "no such index"
 System.Net.WebException: The remote server returned an error: (404) Not Found.
   at System.Net.HttpWebRequest.GetResponse()

[2017-05-22 14:55] niemyjski commented on #302
When are you seeing this? Are you seeing this in our logs? Did you update the web.config to point to the elasticsearch server? You should be able to put the connection string into a browser (on the same box as your iss server and see a json result from elasticserach, does this happen?)

[2017-05-23 02:02] zhouyongtao commented on #302
i have update the web.config , and es browser  json
es  :
{
    "name": "0YunMtd",
    "cluster_name": "pms_es_node-01",
    "cluster_uuid": "KslvCC9NQOuMSblIwEP19A",
    "version": {
        "number": "5.4.0",
        "build_hash": "780f8c4",
        "build_date": "2017-04-28T17:43:27.229Z",
        "build_snapshot": false,
        "lucene_version": "6.5.0"
    },
    "tagline": "You Know, for Se

[2017-05-23 12:05] zhouyongtao commented on #302
more detail log：
[code]

[2017-05-24 14:03] niemyjski commented on #302
I think that's fine, that's just saying the events index doesn't exist, could be because no events have been posted. What happens when you submit an event to the system, do you get errors when it tries to create the index?

[2017-05-25 00:32] ocbaker opened #303 "Mass Upload Logs Feature"
Hey,

TLDR:

I'd like to see:

- The ability to customise servers so you can upload events from anytime in the past, not just from the last 3 days.
- For the Exceptionless UI to be more clear about when it is adding restrictions to your filter and what those restrictions are.
- For it to be easier to mass upload events.
- The ability to bulk edit existing events in Exceptionless, especially for th

[2017-05-25 04:16] zhouyongtao commented on #302
POST http://172.23.216.124:81/api/v2/events HTTP/1.1
Accept: application/json
User-Agent: exceptionless/4.0.0
Authorization: Bearer rmpT5bpPC1LekMjx0BfolZ0QwIkrQgwvjRAZ27fX
Content-Type: application/json; charset=utf-8
Host: 172.23.216.124:81
Content-Length: 2731
Accept-Encoding: gzip, deflate

[{"type":"error","date":"2017-05-25T12:16:18.0914528+08:00","data":{"@version":"1.0.0.0","@error":{"modu

[2017-05-25 11:23] niemyjski commented on #302
would you be free for this morning (CST, aka next few hours) for a remote meeting?

[2017-05-25 11:24] niemyjski commented on #302
All of that looks okay, which makes me think if you aren't seeing data, then something is wrong with event processing

[2017-05-26 03:47] zhouyongtao commented on #302
![image](https://cloud.githubusercontent.com/assets/4192762/26479887/053f78aa-4209-11e7-9418-93677621c0d2.png)

[2017-05-26 14:09] niemyjski commented on #302
I'd set the nlog config level to trace for a minute or two and try submitting an event (https://github.com/exceptionless/Exceptionless/wiki/Self-Hosting#troubleshooting). If you could attach the logs that would be greatly appreciated.

[2017-05-26 14:54] ejsmith commented on #303
Thanks for the feedback!

1. We disabled going back as far as you want in our code because it has a lot of performance implications, but I think we should probably make that configurable and let self-hosters choose their own setting.

2. If you change the date filter then you should be able to view events as far back as you want. If you are getting restricted to 3 days then the system must think t

[2017-05-31 12:02] niemyjski commented on #302
@zhouyongtao were you able to get this working? If not, could you please attach the logs after submitting an event as described in the troubleshooting guide.

[2017-05-31 12:02] #302 closed

[2017-06-01 11:48] jamierushton opened #1284 "Group similar projects together"
In some instances, my team associates a one-to-one assignment between a project and an environment.

- Project 1 => Envirnoment 1 (all development processes)
- Project 2 => Envirnoment 2 (all development processes)

What I believe would be an excellent reporting feature is to be able to group similarly related projects and drill down from that perspective instead of from the organisation's view.

[2017-06-02 13:00] john-roland opened #304 "Python client"
Hello,

Is there any Python client for exceptionless ?

Thanks

[2017-06-02 13:14] niemyjski commented on #304
Hey,

We currently don't have a python client but would be willing to accept a pr for one. Currently, you can make a very simple http post to our documented api for submission. I'd be more than happy to work with you on this. Please let me know if you have any questions.

http://api.exceptionless.com/docs/index#!/Event/Event_PostAsync

[2017-06-02 13:40] john-roland commented on #304
Hi Blake,

Thank you for the quick answer :)

yes, I know the api quite well, we'll do that a bit for some non .net app

thanks again

[2017-06-05 10:24] Adiqq opened #305 "Notifications on exceeded exception rate in given period of time"
Hi,

It would be nice to have more control on notifications.
For example, "if there was >100 exceptions in last hour do some action (send e-mail)".
It would also be nice to have other channels for notification: Slack integration, POST notification to specified endpoint, so it would be easier to react quickly if something bad is happening.

[2017-06-05 10:26] #305 closed

[2017-06-05 12:44] niemyjski commented on #305
Hey, The rate based notifications we have an issue tracking this (https://github.com/exceptionless/Exceptionless/issues/177). We currently do have slack and web hook support (you can find it on the manage project notifications tab. Were you able to find these? If you need any help, please let me know.

[2017-06-05 12:45] niemyjski commented on #304
Has it been pretty easy to work with our api?

[2017-06-05 13:42] john-roland commented on #304
yes, very easy to make it work, even if at start I was a bit confused about which token to send.
Also, the samples are good, but when we wanted to send some more complex stuff we had to dig in the webapi code to get the list of params we can send, etc.

[2017-06-05 14:08] niemyjski commented on #304
You'd use your client api key that's listed under manage project api keys tab. If you have an example of what we could add to the api docs that would be greatly appreciated.

[2017-06-05 16:37] john-roland commented on #304
the most difficult was to find how to send the user and the date/time of the event.
we found that the first was "identity" and the second one need a very specific format with the 'Z' seperator if i remember well.

[2017-06-06 06:38] 3223554 opened #306 "used SelfHosting, how settings verify email"
verify email no work

![default](https://cloud.githubusercontent.com/assets/16113293/26816720/b36dbf30-4ac5-11e7-8169-efcfab1d3b1e.png)

[2017-06-06 08:17] caesay commented on #306
It might help to review the self hosting documentation and follow the steps again closely especially where it talks about configuration files `app.config` and `app.config.*.js`. You can also check the exceptionless log file to see if its a mail transport issue, this should exist in `[APP]/Logs`

If you've verified your config files are correct and it's still not working then you can post your `app

[2017-06-06 08:58] 3223554 commented on #306
i see
https://github.com/exceptionless/Exceptionless/issues/290
i was download  latest release
but still can not work

my config

![qq 20170606165540](https://cloud.githubusercontent.com/assets/16113293/26821556/6239b510-4ad9-11e7-8c7e-4191a6d69362.png)
![default](https://cloud.githubusercontent.com/assets/16113293/26821566/688bbe36-4ad9-11e7-9d37-51e74c505eaa.png)

[2017-06-06 09:00] 3223554 commented on #306
@caesay

[2017-06-06 09:03] caesay commented on #306
Please check the log file for any SMTP related error messages and post here with what you see

[2017-06-06 09:23] 3223554 commented on #306
iis log
[u_ex170606.txt](https://github.com/exceptionless/Exceptionless/files/1054401/u_ex170606.txt)
application log
[log.txt](https://github.com/exceptionless/Exceptionless/files/1054403/log.txt)
![default](https://cloud.githubusercontent.com/assets/16113293/26822485/c5047588-4adc-11e7-91b3-93426bdbd61e.png)

[2017-06-06 09:42] 3223554 commented on #306
oh
I found this excption

![default](https://cloud.githubusercontent.com/assets/16113293/26823155/29515e0a-4adf-11e7-98f1-7b01261d5917.png)
ail from address must be same as authorization user MailKit.Net.Smtp.SmtpCommandException: mail from address must be same as authorization user？
how can i do？ I can't find authorization user configuration @caesay

[2017-06-06 10:20] niemyjski commented on #306
@3223554 I think that's saying this value (https://github.com/exceptionless/Exceptionless/blob/master/src/Exceptionless.Core/Settings.cs#L212) should match the Smtp user property. Can you try that and let us know. Also if you have any suggestions on how we can make this easier to diagnose in the future, that would be appreciated.

[2017-06-06 10:22] niemyjski commented on #304
Good point! Is there any chance you could open a new issue or pr for that and we'll get it resolved

[2017-06-06 11:06] 3223554 commented on #306
ok thanks
it can work
may I make a suggestion?
web.config  add  appconfig key
default
<add key ="SmtpFrom" value="yourstmpfrom" />

i read the source code before I know it can be added

[2017-06-06 11:08] niemyjski commented on #306
Do you mean we should add the from section?

[2017-06-06 11:13] 3223554 commented on #306
yes

add default
key ="SmtpFrom" value="xxxx"

sorry ，my english is very poor。。。。

[2017-06-06 11:22] niemyjski commented on #306
No problem, is there any chance you could add this in a pr? There are three spots, one in the web.config and one in the https://github.com/exceptionless/Exceptionless/blob/master/src/Jobs/App.config and one in the tests project's app.config

[2017-06-06 11:28] john-roland opened #307 "More webapi documentation / samples"
Hello,

It would be great to have more documentation about how to post complex event though the webapi:

* how to send the user identity
* how to send the datetime of the event (a specific format is needed)
* how to send advanced fields like stack trace, exception type, environment variables

thank you,

[2017-06-06 11:29] 3223554 commented on #306
ok thanks

[2017-06-06 11:29] niemyjski commented on #276
I agree, we need that. I need to really break all this down into separate issues and get your feedback @john-roland . If you just let me know a time when you are free I'll be there (as long as it's not 3am my time) :)

[2017-06-06 11:55] john-roland commented on #276
Thursday, 5pm geneva time, should be 10am for you, would it be ok ?

[2017-06-06 11:58] john-roland commented on #276
ho no sorry, already in a meeting this day... with our houston team ;)
this week it will be complicated.. or friday

[2017-06-06 12:05] niemyjski commented on #276
Sounds good :), just send me an email (http://github.com/niemyjski) with the info or on slack :).

[2017-06-08 07:34] john-roland opened #308 "Search in environment command line"
Hi,

would it possible to search for the command line content ?
We use exceptionless a lot to store logs about command lines tool, and it would be very helpful.

Also, when we are searching for an event, it would be really better to have the real date/time instead of the "aday ago".. maybe it could be an global settings in the web.config ? but in our case having the timestamp would avoid opening e

[2017-06-09 17:12] niemyjski commented on #308
Is there something specific you want for the command line arguments? I'm guessing you just want to search for arguments a user might be passing in. We should probably  split on directory path spaces.

[2017-06-09 17:12] niemyjski commented on #307
Thanks! I'll make sure we get this added

[2017-06-09 17:12] #304 closed

[2017-06-09 17:16] niemyjski commented on #276
Thanks for having the team meet up with me, I greatly appreciate it. I need to split this into several new issues but here are my notes, please feel free to open new issues with any additional feedback.

# Search
    - auto complete, would really like to be able to just bookmark search.
    - Anything else you want to search on?
    - Lists don't have project or date. (maybe make the tags on a sep

[2017-06-14 09:05] john-roland commented on #308
yes, we are usually searching for a word or a part of a word in the arguments, might be an email address, a file path, etc.
I think indexing the whole command line is good

[2017-06-14 09:25] john-roland commented on #276
yes, definitively, if we are able to add some custom environment data, and be able to filter on it, it will be awesome.

I can imagine, in our usage, to add the following
- "Office" property
- "Company" property
- "Database" property
- "Matrix" (or team) property

etc.

maybe that already possible via a plugin, or not ?

etc..

[2017-06-14 14:34] niemyjski commented on #276
You can do this (search by custom property) today if you call SetProperty() on the event builder with simple types (bool, string, int)

[2017-06-27 08:44] platstar opened #310 "How to monitor system is health"
The exceptionless use a kind of queue system to write log.
https://exceptionless.com/version-2-0s-new-message-bus-queueing-systems/

so how could I monitor the queue is health?
Thanks for your answer.

[2017-06-27 12:54] niemyjski commented on #310
Hello,

There are two methods of which you can use. The first and main endpoint I'd check would be the /api/v2/status (https://github.com/exceptionless/Exceptionless/blob/master/src/Exceptionless.Api/Controllers/StatusController.cs#L53) This checks the cache, elasticsearch and storage. If this is up you should be good, you can call this as a normal user and the result is cached very briefly.

If y

[2017-06-27 12:54] #310 closed

[2017-07-06 02:34] zzSleep commented on #302
@niemyjski what are you doing now? I have some  questions ask you ,you must reply to my message

[2017-07-06 13:20] niemyjski commented on #302
I was sleeping... Please ask each question that you have here and someone will answer them.

[2017-07-10 13:18] zhouyongtao commented on #304
@niemyjski  I have solved the problem, which is the reason of file permission ，thanks！

[2017-07-10 13:19] zhouyongtao commented on #302
@niemyjski  thanks , I have solved the problem, which is the reason of file permission  ！

[2017-07-13 01:31] zhaohy0612 opened #311 "About landing problems"
Login tips
An error occurred while logging in. Please contact support for more informat.How to deal with?

[2017-07-13 13:08] niemyjski commented on #311
If you are self hosting exceptionless, I'd follow the troubleshooting guide located here: https://github.com/exceptionless/Exceptionless/wiki/Self-Hosting#troubleshooting Chances are that it can't talk to the server or your app.config.js is not pointing to the right server end point. If you are seeing this issue on our hosted service please let me know. If you could open the debugger tools and and

[2017-07-13 13:08] #311 closed

[2017-07-18 09:26] akaxb opened #312 "by selfhosting can not receive any data"
I've created it locally, Then I'm sure I got the correct key and ServerUrl, my client config code just like this
![image](https://user-images.githubusercontent.com/6300834/28310004-a36f0308-6bdd-11e7-9210-ec25172bbb9c.png)
![image](https://user-images.githubusercontent.com/6300834/28310036-bf933e82-6bdd-11e7-9c59-1a2582651e12.png)
![image](https://user-images.githubusercontent.com/6300834/28310183

[2017-07-18 09:29] john-roland opened #313 "url to see latest events of a specific user"
Hello team,

Is there such url we can forge to see events filtered by a specific user ?

if not, i will go through the API.

Thanks

[2017-07-18 12:36] niemyjski commented on #312
What version of Elasticsaerch are you using? Have you ran through the troubleshooting guide? https://github.com/exceptionless/Exceptionless/wiki/Self-Hosting#troubleshooting

[2017-07-18 12:37] niemyjski commented on #313
Currently no, you'd need to input your search filter `user:user@user.com` into the search box. We'd be more than happy to accept a pr that allows a search filter to be passed into the url.

[2017-07-19 01:14] akaxb commented on #312
the Elasticsaerch version is 5.3.0
![image](https://user-images.githubusercontent.com/6300834/28345452-29a9cb9a-6c5d-11e7-871e-9c9fab9bf2fe.png)
i am try to update the Elasticsaerch to 5.5,and it's success,I am not proficient with Elasticsaerch ,I see on the official website，maybe that's the problem
![image](https://user-images.githubusercontent.com/6300834/28346284-8eea7784-6c62-11e7-8472-11a09bf

[2017-07-21 13:23] niemyjski commented on #312
Thanks for the update. I'm guessing maybe it was just something configuration related.

[2017-07-21 13:23] #312 closed

[2017-07-25 13:04] theooos commented on #64
How has this been coming along? :)

[2017-07-25 13:06] niemyjski commented on #64
We haven't really focused on this too much. We need to port to .net core before this happens and we still have some dependencies that need to support it. I hope once .net core 2.0 is out, we'll be much much closer. We're working on getting all of our libs on .net core over time (The next one will be foundation parsers).

[2017-07-29 16:22] CyberSinh opened #314 "Missing '@version' information in data returned by Exceptionless"
The data returned by Exceptionless is sometimes inconsistent.
In most cases, I have the information of the version of my software in the data:

`data ": {" @version ":" 5.7.2.5 "}`

 but more and more often this information is not not present.

Did I miss something? Is there anything I can do to make the return of my software version systematic?

Thank you.

[2017-07-29 16:23] CyberSinh commented on #314
Oops.. Issue posted in the Exceptionless.Net thread.

[2017-08-09 13:59] soso729 opened #315 "What is the log data storage method？"
File storage or maybe  database  like mysql or mssql？

[2017-08-09 14:02] soso729 commented on #315
i want to know where the data

[2017-08-09 14:44] niemyjski commented on #315
All data is stored in elasticsearch, it's our primary data store and the only required dependency. If you are going to scale out than redis or azure services  is required. Please let us know if you have any questions.

[2017-08-09 14:44] #315 closed

[2017-08-11 05:45] ZhiqiangTao opened #316 "Is there any client-api can be used to insert logs to ES cluster directly？"

[2017-08-13 14:18] niemyjski commented on #316
No, everything has to be submitted to the server for processing. You could potentially do this with a modified client, you'd have to pull in our PersistentEvent model, populate it and serialize it. and then write a new submission client to talk to es. But this would be completely unsupported.

[2017-08-13 14:18] #316 closed

[2017-08-15 07:43] Marusyk commented on #203
But how can I handle it? I tried `if (exception is OperationCanceledException || exception is HttpException && exception.Message.Contains("The client disconnected"))`

[2017-08-15 12:23] niemyjski commented on #203
You mean in client code or in your own code base? @Marusyk I haven't found a good way to. I think some people pass through the cancelation token to the controller action and pass it through.. But that isn't very pretty.

[2017-08-15 13:36] niemyjski commented on #306
I'm closing this, please let me know if this is still an issue.

[2017-08-15 13:36] #306 closed

[2017-08-29 13:31] zhouyongtao opened #317 "could not be resolved : 'https://js.stripe.com/v2/'"
sometimes can't open  https://js.stripe.com/v2/ domain in china . can fix load it in the project ?

[2017-08-29 18:34] niemyjski commented on #317
This is a duplicate of https://github.com/exceptionless/Exceptionless.UI/issues/150, we'd be more than happy to accept a pull request for this functionality.

[2017-08-29 18:34] #317 closed

[2017-09-03 14:35] niemyjski commented on #308
Fixed in https://github.com/exceptionless/Exceptionless/commit/8c04e4fb0f8d6ba6e43d0448f117fd92e177df11

[2017-09-03 14:35] #308 closed

[2017-09-03 14:50] #307 closed

[2017-09-03 14:52] niemyjski commented on #307
I added samples for the basic use cases like user info and dates.  For users that need more advanced use cases I'd be more than happy to assist via support message. I'd recommend looking at our tests data as well or just posting an event using our client to see the full model (you can copy the raw json)
https://github.com/exceptionless/Exceptionless/blob/master/tests/Exceptionless.Api.Tests/ErrorD

[2017-09-03 15:00] #277 closed

[2017-09-03 15:36] niemyjski commented on #301
I looked into this more and this should be covered as it's punctuation. Is there any chance you could add a unit test for this?

[2017-09-08 11:08] ArvinHsieh opened #319 "Ability to delete a user account"
i used self hosting in my projects. but the users have a abnormal user. the user always can't login. even password is correct. i want delete the user and register again. what can i do? thanks.

[2017-09-08 14:25] niemyjski commented on #319
Currently the only way is to do this via elasticsearch `DELETE /organizations-v1/users/idhere` We currently don't have a view for managing users but that would be a nice to have to reuse the profile page and add a route for the user with a delete button. Would this be something you'd be willing to submit a pr for? What issues are they seeing with login? It would be great to get any issues fixed.

[2017-09-10 15:31] MihaMarkic commented on #301
@niemyjski I looked into adding the test and started with checking out Exceptionless.Api.Tests.Repositories.EventIndexTests.GetByMessageAsync since it seems the proper target. Unfortunately it will fail with message below.
Is there something I'm missing?

[2017-09-11 12:31] niemyjski commented on #177
We should send an email the first time you are throttled every day.

[2017-09-11 12:54] niemyjski commented on #301
If you take a look at the `CreateEventsAsync` method you can see the raw events in the search\data folder. They all have a unique id but have the same org and project id.

[code]

[2017-09-11 13:25] ArvinHsieh commented on #319
I used DELETE /organizations-v1/users/idhere is work.
Thanks!!

[2017-09-11 13:33] niemyjski commented on #319
If they are still having issues logging in, please let me know.

[2017-09-27 05:52] edwardmeng opened #321 "Fielddata is disabled on [organization_id] by default"
There are lots of errors in elasticsearch like this
[code]
It is supposed that the organization_id is not reconfigured correctly in exceptionless. Could you please tell me how to fix it?

[2017-09-27 21:34] niemyjski commented on #321
What does your elasticsearch configuration file look like? Also what indexes is this occurring on? I haven't seen any of these errors.

[2017-10-11 05:00] caesay commented on #301
I can verify this has always been a problem for us, too. we always have to search by "night*" if we suspect it might end in punctuation.

[2017-10-13 12:10] niemyjski commented on #301
We should add some tests for this and look into the analyzer settings.

[2017-10-16 03:18] edwardmeng commented on #321
We have fixed it by reinstallation.

[2017-10-16 03:18] #321 closed

[2017-10-19 15:32] john-roland opened #322 "Async event send"
Hi,

I'm pretty sure the send was asynchronous in Exceptionless, but it seems that it's not the case anymore.
What do we need to do in our setup/configuration call to do so ?

thanks,

[2017-10-19 17:05] niemyjski commented on #322
Events are enqueuing has always been synchronous because we keep it super fast. Event Submission has always synchronous, for two reasons, platform support of the past didn't support async and secondly making the submission client async is like a virus and makes everything async. We submit all events on a background thread so any blocking will not affect the app. What issue are you seeing?

[2017-10-20 09:03] mdsharpe opened #323 "Suggestion: filter by other parts of URL"
It seems a shortcoming that Exceptionless only lets one filter exceptions by Path, and no other part of the URL.

Specifically, It'd be useful to be able to filter on the domain that requests are made to.

[2017-10-20 12:45] niemyjski commented on #323
Hmm, yeah, it would be nice to have the host and possibly port as well indexed. Not sure how much sense it would make to index any of the others..

 Is there any chance you'd be willing to submit a pr for this? You'd just need to edit the EventIndexType here: https://github.com/exceptionless/Exceptionless/blob/master/src/Exceptionless.Core/Repositories/Configuration/Indexes/EventIndex/EventIndexTy

[2017-10-23 09:49] Phyxion opened #324 "OS version filtering"
I can't get this to work, I've tried this:

os.version:6.1.7601.65536
os.version:"6.1.7601.65536"
os:6.1.7601.65536
os.major:6

This does work, but I'm looking for a specific version:
*  os:"Windows 7"

Do I need to do anything else or is it broken?

[2017-10-24 00:36] caesay commented on #301
Related: https://github.com/exceptionless/Exceptionless.UI/issues/140

[2017-10-24 12:03] niemyjski commented on #324
We do have tests covering this: https://github.com/exceptionless/Exceptionless/blob/master/tests/Exceptionless.Api.Tests/Search/EventIndexTests.cs#L293-L314

What is your events operating system field set to?

[2017-10-24 12:23] Phyxion commented on #324
What

OS Name | Microsoft Windows 10 Pro
OS Version | 6.2.9200.0

or

OS Name | Microsoft Windows 7 Home Premium
OS Version | 6.1.7601.65536
Architecture | x64

I can search by name, but searching by version isn't working. Or at least I can't get it to work as written on the documentation :(

[2017-10-24 12:40] niemyjski commented on #324
Would be good to update the test cases with these two examples just to
verify. I'll try and get around to it this week (greatly appreciated if you
could submit a pr)

Thanks
-Blake Niemyjski

On Tue, Oct 24, 2017 at 7:23 AM, Phyxion <notifications@github.com> wrote:

[2017-10-24 12:48] Phyxion commented on #324
Does the os version search do anything for you at all (with live data)? I'm not sure why the tests are working (or why it isn't working here).

[2017-10-24 14:35] niemyjski commented on #324
Yes, os.version:10.12.6 works for me. When I searched for a version of Mac.

[2017-10-26 16:41] sisbilir commented on #319
Hi @niemyjski! Anybody working on this enhancement?

[2017-10-26 19:14] TristanGaydon opened #325 "Searching custom extended data field of type string not returning results"
Running Exceptionless on a self hosted environment, v4.1.0

I'm trying to search on custom data.

I have an extended data field of type string called "FriendlyErrorIdentifier".

I can (in Kibana) see that the event in elasticsearch has two fields related to this;
data.FriendlyErrorIdentifier	   	  Foo-7967BB
idx.friendlyerroridentifier-s	   	  Foo-7967BB

Searching as per the documentation with a

[2017-10-27 05:46] kiquenet commented on #325
How install EL in self hosted environment?

El 26/10/2017 21:14, "TristanGaydon" <notifications@github.com> escribió:

[2017-10-30 12:40] sisbilir commented on #319
@niemyjski I can work on it.

[2017-10-30 13:09] niemyjski commented on #325
@TristanGaydon  When you try to search for `data.FriendlyErrorIdentifier:"Foo-7967BB"` in the client what is the query sent to elastic search? Could you try turning on fiddler and changing the elastic connection string to `http://ipv4.fiddler:9200` and looking at the query. I'd love to know what it was translated to.

@kiquenet Please see the self hosted docs: https://github.com/exceptionless/Exce

[2017-10-31 08:55] edwardmeng opened #326 "Cannot support redis Queue with server load balance environment."
Since the high performance requirements, we are trying to deploy exceptionless in the load balance environment.
After investigation, we intended to make use of different `AppScope` in settings for every exceptionless servers. But this configuration value affects the data storage in elasticsearch, so we got the absolutely separated data space for every exceptionless server.
Then we removed the `App

[2017-10-31 12:19] niemyjski commented on #326
Yes, this could absolutely happen because we process the first enqueued item. However if you are using the same queue instance + storage and you enqueue a then b, a should always be processed before b.

[2017-10-31 12:20] niemyjski commented on #326
Can you please expand on what your PR adds?

[2017-11-01 01:16] edwardmeng commented on #326
Add `QueueScope` in settings used to generate queue name in redis or windows azure. For exceptionless servers in the load balance environment, avoid the absolutely separated data storage in elasticsearch when using `AppScope`, and avoid errors of chaos event reference among servers by using the default generated queue name without server specified prefix.

[2017-11-01 12:27] niemyjski commented on #326
I'm not completely sure I agree with this because the app scope is for scoping different environments and now I have to set two different properties to get the same thing. We load balance everything and we have yet to run into any issues. I think the proper way to spread out the load on massive environments would be to create pods and shard on organizations. Please let me know what I'm missing...

[2017-11-02 02:02] edwardmeng commented on #326
According to my understanding, you have created several absolutely separated app scopes, and leads the different organizations to the allocated server in advance through the nginx or other load-balancer.
Maybe the deployment diagram looks like this:
![_15095868484142](https://user-images.githubusercontent.com/2819989/32305701-f4f59aac-bfb1-11e7-9c94-e207fc94c146.png)

I think in this scenario, the

[2017-11-02 02:28] ejsmith commented on #326
AppScope is for segregating data so that you can have multiple isolated instances of Exceptionless sharing the same Elasticsearch, Redis and queue resources.

If you are looking to handle high volumes of data, then The whole system is designed to scale out. Add more nodes to your ES cluster, Redis cluster, more job processor instances etc. Soon we will have the whole system dockerized and then it

[2017-11-02 04:04] niemyjski commented on #326
Also on a side note, I'm getting real close to having asp.net core support and running all the jobs on .net core (testing and testing.... getting close to using to QA). We've also done some pretty awesome perf work (and lots more todo) thanks to @redknightlois Would love to hear how the next version preforms on your cluster :)

[2017-11-02 05:08] edwardmeng commented on #326
@ejsmith as you said, we have deployed several nodes of elasticsearch cluster, redis cluster, and there are more than ten job processors. We have noticed that from the events submitted to exceptionless server to stored in elasticsearch, the time duration will be more than 2 hours in the rush hours, which is not acceptable. After analyzing logs and performance monitors, we found the bottle neck is

[2017-11-02 09:17] chrisproud opened #1285 "Data Exclusion by default overridden by data inclusions."
From a data security perspective it would be better to exclude all data post data by default, specifying only which fields should be included in the log data.

I believe this could be achieved without breaking existing functionality by adding an field called "Data inclusions" that overrides the data exclusions which could be set as *.

Is this possible?

[2017-11-02 11:32] ejsmith commented on #326
That’s interesting. What kind of load are we talking about?

We obviously have a pretty good sized amount of traffic on our hosted instance with all our customers and we monitor things like queue time and we are able to keep the queue times within seconds.

If you are wanting one org and one project then you definitely need to scale out and we need to figure out what is going on with your setup. W

[2017-11-02 17:44] TristanGaydon commented on #325
@niemyjski Hi Blake, Thanks for your reply. I've captured the request made to elasticsearch

[code]

I had the Exceptionless UI set to "last hour". We are using ElasticSearch v5.4.3

[2017-11-03 03:18] edwardmeng commented on #326
@ejsmith Could you please tell me about the sized amount of traffic on your hosted instance, and what you have done to keep the queue time within seconds? Maybe our prerequisites are different, so the deployment strategy are different too.
Our performance bottle neck is the **hard disk and CPU on exceptionless server, not on the ES nodes**. Please refer to my previous comments. Since we have deplo

[2017-11-03 13:07] niemyjski commented on #326
We use high performance blob storage in azure and stream our writes there (more could be done as I'm sure there are some places were we might not be streaming it and taking a buffering hit on the app server...  We also use premium redis and premium vms for elastic. Ideally when we rebuild with k8s we will go with nvme backed storage. We switched from redis queues to azure storage queues so we coul

[2017-11-03 13:09] niemyjski commented on #325
Thanks for that. I'll update our tests with this specific example just to make sure but that all looks right.

[2017-11-06 02:26] edwardmeng commented on #326
@niemyjski In China the blob storage in azure is more expensive than aliyun and the performance is not as well as excepted since the network causes. So we have to write event files in the local storage on SSD(The NAS has not been in view), and the event files cannot be shared among exceptionless servers. It means the queue must be absolutely separated for every exceptionless server to avoid the is

[2017-11-06 03:10] edwardmeng opened #328 "Improve implementation of high concurrent elasticsearch operations instead of `RetryOnConflict`"
In high concurrent environment, the option `RetryOnConflict` for elastic operations is not reliable and there will be errors reported as following:
`
StackRepository Error occurred incrementing total event occurrences on stack "59cc6fe3bff2a3c6f00d7961". Error: Type: version_conflict_engine_exception Reason: "[stacks][59cc6fe3bff2a3c6f00d7961]: version conflict, current version [8360562] is differ

[2017-11-06 13:52] niemyjski commented on #326
I think the main reason you can't scale out very well is that your using local storage for the queue instead of shared storage where the writes can be distributed. We use premium blob storage for better performance. (We are wanting to make exceptionless run on k8's and apart of that is possibly running storage in minio (possibly)). What issues are you seeing with the NAS (even if it's all ssd back

[2017-11-07 02:04] edwardmeng commented on #326
@niemyjski We are trying to NAS storage today, but I don't think the performance will be better than local storage in every exceptionless servers.
On the other side, the exceptionless should support distributed local storage mode in my mind. Since it's the simplest and fast enough deployment strategy.

[2017-11-07 02:14] ejsmith commented on #326
@edwardmeng the problem isn't storage performance. The problem is that in order to scale out, you have to use shared storage. Each worker (web and job) needs to be able to read and write from shared storage to process event queue items that are persisted to disk. I'm not even sure how your setup is working now if you have multiple instances of the job and api running on different machines. The api

[2017-11-07 03:36] edwardmeng commented on #326
@ejsmith Yes, we are exactly deployed as you said, so we wanna private queue for each exceptionless node. So the changes in this pr is just for this purpose.

[2017-11-07 04:18] ejsmith commented on #326
Ok, I think we are finally on the same page. :) So you are using your changes now? If so, how is that working for you?

[2017-11-07 04:21] ejsmith commented on #326
I'm thinking we should default the QueueScope to the machine name if we are using in memory queues.

[2017-11-07 04:32] niemyjski commented on #326
I think that if we did queue scopes on node name, we should make this append prefix only so existing scopes just works. Currently I don’t like that queue scopes change existing scope behaviors. Seems like this would be useful in your case which I don’t think is very normal... it’s almost like you have pods but the same elastic instance... what if you just had isolated pods connected via tribe node

[2017-11-07 04:33] niemyjski commented on #326
@ejamith how would that help with in memory queues ?

[2017-11-07 06:23] edwardmeng commented on #326
@ejsmith Yes, we are using the changes and it works very well except the issue https://github.com/exceptionless/Exceptionless/issues/328.
@niemyjski There is wechat group for exceptionless communication in China, and as I know almost 99%  of them have been deployed with the local storage, since the solution is simple, requires less servers, and has enough scale out possibility for medium organizat

[2017-11-07 07:43] ejsmith commented on #326
Hmm... yeah, wasn't thinking. It wouldn't help in memory queues. @edwardmeng have you tried just running several instances using in memory queues and running the event job in process?

I am good with making this change, but I'm trying to think if there is maybe a better name for the option because I'm worried about it being confusing with AppScope. Also, I guess we can check to see if you are not

[2017-11-07 07:47] ejsmith commented on #328
Yeah, I'd love to see a PR taking a shot at this. I think we could just do something using the cache client to increment a value and then sync it to ES every X seconds. Something similar to what we are doing here:

https://github.com/exceptionless/Exceptionless/blob/master/src/Exceptionless.Core/Services/UsageService.cs

[2017-11-07 09:09] edwardmeng commented on #326
@ejsmith I think the option should default to computer name maybe for in memory queues, but not for all scenarios. Such as when using Redis queue and NAS or Azure storage, the default value should be same as `AppScope`.
Another scenario, when using Redis queue and local storage, if the option default to computer name, and there are some computer with the exactly same name, the event files will be

[2017-11-07 12:32] niemyjski commented on #326
@edwardmeng I don't think any changes are needed for AppScope. I think we should just default QueueScope to null and never set it or even put it in the web.config as a known key. Then just preappend that value that's manually set to the queues. That way we get auto environments as well as queue scoping if it works.

[2017-11-07 12:43] niemyjski commented on #326
@edwardmeng any way to get invited to the WeChat group? We'd love to have them on our (http://slack.exceptionless.com) too :)

[2017-11-07 13:15] ejsmith commented on #326
I think he is right. We just default it to the AppScope value and use it instead of AppScope in the queue factory which is exactly what he is already doing. Let’s accept this PR as is @niemyjski. Thank you @edwardmeng and sorry it took so long to talk it through.

[2017-11-07 13:17] #326 closed

[2017-11-09 07:25] zhouyongtao opened #329 "Recording log slowly"
stable run for long time ，what needs to be configured ?
[code]

[2017-11-09 11:48] niemyjski commented on #329
What kind of behaviors are you seeing? From what I can tell you have a single node instance and you are using in memory versions. The error you are getting suggests either there was an error dequeueing an item from a concurrent queue or that there was no queue entries.  Looking at the code: https://github.com/FoundatioFx/Foundatio/blob/1c1d817d54c968484dffc536c6225fb8674b771c/src/Foundatio/Queues/

[2017-11-09 12:43] zhouyongtao commented on #329
this service run stable for a few months and today I found the log is slow , run one exceptionless (v4.1.0)  ,three es(v5.5) node ; when restart the exceptionless  server, i can run for a few minutes, and then log will be delayed, due to too much request ?

[2017-11-09 13:16] niemyjski commented on #329
What is your throughput? How many events are you sending in per second? What is the resource usage on the web box?

[2017-11-09 22:45] matthew-churcher opened #330 "Custom properties via api"
I'm sending a exception using @simple_error and the events api. How do I add custom properties like a hostname. It's not in any of the examples.
This is for python for which I understand there currently isn't an SDK. Tia matt

[2017-11-10 10:11] zhouyongtao commented on #329
I check the server throughput is not large,I think eventjob sends the request to es too slowly

[2017-11-10 13:23] niemyjski commented on #329
Is elasticsearch on the same box as this web server? Task manager view would be better to see so we can see CPU, memory and IO

[2017-11-10 13:26] niemyjski commented on #330
Hey,

You'd just need to put it in the data dictionary and we'll just pick it up. If you have any questions please let us know. Also, We'd be more than happy to accept a pr or a gist for a python client/wrapper :)

Just a heads up, we may change how we index custom properties in the very near future (probably going to need to map them in configuration somehow, we have yet to discus, but sending th

[2017-11-10 13:26] #330 closed

[2017-11-13 22:09] edwardmeng commented on #328
Thanks for your reference. I have noticed that in the UsageService, the usage count have been incremented in ES and cache at the same time, but not sync cache usage to ES every X seconds. So it improved the reading performance for the `GetUsage` method, but not the writing performance of the `IncrementUsage` method.

[2017-11-14 11:19] niemyjski commented on #328
We increment in cache only (IncrementIf's) and populate the model from that. https://github.com/exceptionless/Exceptionless/blob/master/src/Exceptionless.Core/Services/UsageService.cs#L109 shows we check to see if it should be saved on the repository too. I'm not sure on your last sentence, we only save if usage just exceeded the limit or the last save was 5 minutes ago.

It would be nice to have

[2017-11-15 08:29] zhouyongtao opened #331 "Elasticsearch 6.0 is not supported"
`2017-11-15 16:27:18.5427    6 ERROR StackIndex Error creating the index stacks-v1: Original: (400 - WebException) The remote server returned an error: (400) Bad Request.
Server: (400) Type: mapper_parsing_exception Reason: "Failed to parse mapping [stacks]: [include_in_all] is not allowed for indices created on or after version 6.0.0 as [_all] is deprecated. As a replacement, you can use an [copy

[2017-11-15 09:08] zhouyongtao commented on #329
IIS:
![image](https://user-images.githubusercontent.com/4192762/32827515-737cd186-ca27-11e7-8bef-190de86343f5.png)
ES：
![image](https://user-images.githubusercontent.com/4192762/32827547-90adc59e-ca27-11e7-9d5b-a765242cfe7c.png)

[2017-11-15 14:13] niemyjski commented on #331
This is known issue, you should be able to upgrade from 5.x to 6.x (with existing indexes) but creating indexes on 6.0 may not yet work. We have some work to do. We will be working on this in the near future (PR's welcome as well). In the mean time we **recommend staying on 5.x**.

[2017-11-15 14:24] niemyjski commented on #329
All that looks great, what I would do is configure redis (https://github.com/exceptionless/Exceptionless/wiki/Self-Hosting#redis) within the web application and then also configure an events post job but also keep the jobs running in process (https://github.com/exceptionless/Exceptionless/wiki/Self-Hosting#running-jobs-out-of-process). Then you can scale out your event queue jobs to process more e

[2017-11-16 09:06] zhouyongtao commented on #329
I do this , run EventPostJob have a problem

`2017-11-16 16:57:21.3969    1  WARN Bootstrapper StatsD Metrics is NOT enabled.
2017-11-16 16:57:21.4281    1  WARN Bootstrapper Azure Storage is NOT enabled.
2017-11-16 16:57:21.9437    1  INFO JobRunner Starting job type "Exceptionless.Core.Jobs.EventPostsJob" on machine "021YUN130067S"...
2017-11-16 16:57:23.9437    4  INFO EventPostsJob Starting co

[2017-11-16 10:52] zhouyongtao commented on #329
i update exceptionless on ssd , run five events post job ,but not working better well. Initially think either network or es  server problem（es did't use ssd）.

[2017-11-16 12:58] niemyjski opened #332 "Elastic 7.0 support and Index Improvements"
#While we add support for [elasticsearch 6](https://github.com/exceptionless/Exceptionless/issues/331#issuecomment-344604049) we should also fix all known index issues as outlined here:

- [x] Convert Foundatio Parsers
- [x] Convert Foundatio Repositories
- [x] Searching custom extended data field of type string not returning results [#325]
- [x] Look into and see if any work needs to be done on O

[2017-11-16 12:59] niemyjski commented on #331
I'm closing this as I'm merging this into #332

[2017-11-16 12:59] #331 closed

[2017-11-16 12:59] niemyjski commented on #301
I'm closing this as I'm merging this into #332

[2017-11-16 12:59] #301 closed

[2017-11-16 12:59] niemyjski commented on #324
I'm closing this as I'm merging this into #332

[2017-11-16 12:59] #324 closed

[2017-11-16 13:00] niemyjski commented on #325
I'm closing this as I'm merging this into #332, but I'll try and look into this today.

[2017-11-16 13:00] #325 closed

[2017-11-16 13:06] niemyjski commented on #329
We recommend running elastic on SSD's but depending on your throughput you should have more than enough resources as is for efficient queueing. What is your throughput? How many events are you sending in per second/hour to the exceptionless service?

[2017-11-16 14:23] niemyjski commented on #325
@ejsmith I took a look into this and it appears the test is very flakey and we need to take a look into this. Do you have any idea why it would be doing this?

When it fails it creates a query like this:
[code]

When it passes it creates a query like this
[code]

Note: The second query creates a warning which we need to fix in elastic 6.. `#! Deprecation: Deprecated field [type] used, replaced by

[2017-11-16 14:26] niemyjski commented on #332
Looks like there may be an issue with the query parser for issue #325, the query seems to be generated incorrectly some of the time.

[2017-11-17 02:10] zhouyongtao commented on #329
I cleaned up the all es data，it's work , most of the data?
![image](https://user-images.githubusercontent.com/4192762/32891059-3d95f76a-cb0c-11e7-8001-bf04a546ecae.png)

[2017-11-17 14:02] niemyjski commented on #329
Everything looks great from all the images you've sent. If you could let me know how it's acting slow. For example, I send in 10 events and it takes a minute to process them. If I have some numbers to go off of that would help.

[2017-11-20 03:42] niemyjski commented on #325
@TristanGaydon @ejsmith  I think I narrowed this down This fails if the server mapping isn't up to date which happens once a minute. If you wait a minute after inserting this event does the search results work? If not, please let me know.

[2017-11-20 18:40] TristanGaydon commented on #325
@niemyjski unfortunately not; I'm unable to successfully search on any extended data field of type string regardless of the time I wait since it was submitted (I tried searching on exceptions from days and weeks ago).

[2017-11-24 16:54] mdsharpe commented on #323
Great, thanks!

[2017-12-05 05:01] elachlan opened #1286 "Deleting a "stack" navigates you to "All Exceptions" Dashboard instead of the previously viewed Dashboard"

[2017-12-20 08:57] LTAravindh opened #334 "Can't able to log error from Console application"
Hi,

 I have used Self-hosted Exceptionless to log error. It will be working fine in MVC web applications but won't work in console application.

Please find my code:
[code]

App.config file codes.
[code]

What I'm missing here?

Thanks,
Aravindh LT

[2017-12-20 14:16] niemyjski commented on #334
You are missing the call to start errors tracking with the call to `Exceptionless.ExceptionlessClient.Default.Startup()`. This will only catch unhandled errors, you'll need to submit this error inside of your WebErrorTracker by submitting it as shown here: https://github.com/exceptionless/Exceptionless.Net/wiki/Sending-Events

Also, since this is a test console app, it could exit before the queue

[2017-12-20 14:16] #334 closed

[2017-12-21 01:42] Varorbc opened #335 "Self-hosting success, but the page opens is blank"
Self-hosting success, but the page opens is blank，please help me

exceptionless version : 4.1.2
elasticsearch  version : 5.5.2

[2017-12-21 03:35] niemyjski commented on #335
Can you please elaborate on which page opens blank?

[2017-12-21 04:35] Varorbc commented on #335
login

[2017-12-21 05:49] majian159 opened #336 "hoping to provide a mechanism to set OccurrencesAreCritical"
The default does not repeat the notification.

We hope exceptions will always be notified via webhook, but 'OccurrencesAreCritical' defaults to false, which will have a lot of work to set for 'Future Occurrences Are Critical'.

[2017-12-21 11:50] niemyjski commented on #335
Can you please open the developer tools in your browser and take a screen shot of this page as well as the developer tools (after refreshing the page)

[2017-12-22 00:59] Varorbc commented on #335
in server

![6 is y nratkrii si7 o](https://user-images.githubusercontent.com/5714438/34280937-2501c4a8-e6f6-11e7-9600-be40e539b047.png)

is blank

in client
is ok

[2017-12-22 13:02] niemyjski commented on #336
Hello @majian159, thanks for opening an issue. Can you please explain what your goal is. I'm assuming you are wanting to get notified of every single occurrence that comes in? If that is the case then marking them as critical is not the solution.

[2017-12-22 13:05] niemyjski commented on #335
Thanks for that, it looks like you are getting two script errors and one of them is related to angular. Is there any chance you could copy the full stack trace (as text) of those two errors here so I can take a closer look. Also does this work in any other browsers?

[2017-12-23 15:09] majian159 commented on #336
@niemyjski Thanks, I will try it soon.

[2017-12-23 15:10] niemyjski commented on #336
I'm curious, any reason you want a web hook notification for every occurrence?

[2017-12-23 15:12] majian159 commented on #336
Yes, the cost of accessing webhooks is very low, and we want to notify every error.

[2017-12-23 15:13] niemyjski commented on #336
They aren't really low cost unless the server being called has no timeouts, and is low latency and not a very high throughput of events coming in (but still overhead involved). I'm just curious what is being done with every web hook occurrence.

[2017-12-23 15:19] majian159 commented on #336
Send an error message to an IM software,It doesn't matter if it fails.

[2017-12-23 15:31] ejsmith commented on #336
I’m guessing @majian159 doesn’t get a lot of events and that is why he wants notification on all of them. It seems pretty reasonable for small projects or ones that are sending only select events or just don’t have many exceptions.

[2017-12-23 15:36] majian159 commented on #336
Yeah, one day we missed a lot of timeout exceptions (redis, sql and more) and we think every exception is important.

[2017-12-23 15:36] niemyjski commented on #336
Yeah, I get wanting that just was curious how it was being used so we can get a better idea of usages and take that into consideration when working on features/functionality. It would be nice to open this up a bit and give rate based notifications / followup on exceptions once a day.

[2017-12-25 00:45] Varorbc commented on #335
stack:"TypeError: 无法获取未定义或 null 引用的属性“fn”
at Anonymous function (/app.min.a62ad1efed547861.js:6:22870)
at Anonymous function (/app.min.a62ad1efed547861.js:6:12076)
at Global code (/app.min.a62ad1efed547861.js:6:11759)"

stack:"ReferenceError: “angular”未定义
at Anonymous function (/app.config.77fc9ddd679d37dc.js:4:3)
at Global code (/app.config.77fc9ddd679d37dc.js:1:2)"

[2017-12-25 01:10] majian159 commented on #336
This is very good.

[2017-12-26 10:09] chenp1204 opened #339 "login page open failed after Self-hosting."
elasticsearch version: 1.7.5
Exceptionless version: 4.1.2861

# this is log exceptionless.log file：
`[2017-12-26 17:43:22,059][DEBUG][action.admin.indices.create] [Rax] [stacks-v1] failed to create
org.elasticsearch.index.mapper.MapperParsingException: mapping [stacks]
	at org.elasticsearch.cluster.metadata.MetaDataCreateIndexService$2.execute(MetaDataCreateIndexService.java:394)
	at org.elasticse

[2017-12-26 11:02] chenp1204 opened #340 "Create My Account Failed"
Hi，
elasticsearch version: 5.6.5
exceptionless version: 4.1.2861

When i change the version of Elasticsearch to 5.6.5 and use your config file elasticsearch.yml replace Elasticsearch's config，the login page of exceptionless is login successed，but when create my account is failed.

# the following is the request infomation：
## General:
Request URL:http://127.0.0.1:9005/api/v2/auth/signup
Request Me

[2017-12-26 14:15] niemyjski commented on #335
I'm really not sure on that error. Can you try in a different browser and see if you get the same errors. Also are there any failed requests?

[2017-12-26 14:16] niemyjski commented on #336
I'm closing this issue as this can be achieved by wiring up to the Submitting Event handler on the Exceptionless client and mark the event as critical, if you need any help doing this I'd be more than happy to help. I'm also going to update the notifications issue to make a note about web hooks and getting notified more frequently.

[2017-12-26 14:16] #336 closed

[2017-12-26 14:18] niemyjski commented on #339
The latest version of Exceptionless requires Elasticsearch 5.x and you are on 1.7.5 (6.0 will not work yet). You'll need to update to version 5.6.5 (https://www.elastic.co/downloads/past-releases/elasticsearch-5-6-5). If you have any questions please let us know.

[2017-12-26 14:18] #339 closed

[2017-12-27 00:23] Varorbc commented on #335
other browser is ok

[2017-12-27 01:21] chenp1204 commented on #339
Thank you so much！but when i change the version of Elasticsearch to 5.6.5， create my account failed， please look issue #340 ~

[2017-12-27 03:48] wsrf16 opened #341 "ArgumentOutOfRangeException: startIndex"
Today when I access to exceptionless It throws exception:
------------------------------
   System.String.Substring(Int32 startIndex, Int32 length) +14415512
   Foundatio.Repositories.Elasticsearch.Configuration.VersionedIndex.GetIndexVersion(String name) +186
   Foundatio.Repositories.Elasticsearch.Configuration.DailyIndex.GetIndexDate(String index) +52
   Foundatio.Repositories.Elasticsearch.Con

[2017-12-27 14:15] niemyjski commented on #341
Thanks for the report, @wsrf16 Could you please get me a list of your elastic indexes: https://www.elastic.co/guide/en/elasticsearch/reference/5.6/_list_all_indices.html Also what version of Exceptionless are you using?

[2017-12-27 14:17] niemyjski commented on #340
@chenp1204 If I had to guess it's because of the in memory cache wasn't cleared when you upgraded elasticsearch. Does recycling the iis app fix this issue? Can you also enable logging or look at the event logs for this error (https://github.com/exceptionless/Exceptionless/wiki/Self-Hosting#troubleshooting). My apologies for all the issues you are running into.

[2017-12-27 14:18] niemyjski commented on #335
I'm really not sure on this error. What version of internet explorer are you using?

[2017-12-28 14:47] niemyjski commented on #329
Is this still an issue?

[2017-12-29 06:48] edwardmeng commented on #328
I'm trying to fix this and will request new pr for this issue after performance testing.

[2017-12-29 09:41] edwardmeng commented on #328
We have done the draft version changes, and did some performance testing.
Before changes, there are 6973 events/second will be saved to elasticsearch
After changes, there are 7507 events/second will be save to elasticsearch
And there is no error anymore.

[2017-12-29 12:27] niemyjski commented on #328
@edwardmeng awesome, is this on the current asp.net core master branch or old (if it's old, I'm curious what your numbers are against the current as I've done some more perf work but have some things we can do to get even more perf out of the system (Add a middleware for posting and batch up the saving of the payloads) :))?

[2017-12-29 14:52] haliphax opened #345 "Authentication not syncing with Active Directory"
I have Exceptionless configured to point to Active Directory for authentication, but it seems as though the password is still using the one in the user profile. v2.4.836

[2017-12-29 14:53] haliphax opened #346 "Provide HTTP_X_FORWARDED_FOR if present"
In all of our exception reports, we see the remote address as the address of our load balancer. This could likely be resolved at the IIS level, but it would be awesome if Exceptionless could show the value of the HTTP_X_FORWARDED_FOR server variable if it's present. v2.4.836

[2017-12-29 14:55] niemyjski commented on #345
I'm really not sure about this as we don't use active directory. My understanding was that it didn't use the local password at all if it's configured. I'm trying to remember who contributed the  Can you please debug this and let us know what you find.

@natehitze any ideas?